/* Card white*/
.simi-card {
    background-color: #ffffff;
    color: black;
    font-size: 17px;
    margin: 15px;
    padding: 20px;
}

.simi-header{
  background-color:#f0f1f0; color: white;
  font-size: 18px;
  align-items: center;
  padding: 6px;
}

.btn {
  margin-bottom: 5px !important; border-radius: 0px !important; color: white !important; font-size: 14.5px !important; font-weight: lighter !important;
}

.simi-btn-primary {background-color: #096ac6 !important;}
.simi-btn-primary:hover{background-color: #1a51a3 !important;
}

.simi-btn-rose {background-color: #c60869 !important;}
.simi-btn-rose:hover{background-color: #a10857 !important;}

.simi-btn-green {background-color: #69c608 !important;}
.simi-btn-green:hover{background-color: #57a106 !important;}

.simi-btn-orange {background-color: #fa8e00 !important;}
.simi-btn-orange:hover{background-color: #d87c03 !important;}

.simi-btn-purple { background-color: #8e00fa !important;}
.simi-btn-purple:hover { background-color: #7606cc !important;}

.simi-btn-green-s { background-color:#02bb74 !important;}
.simi-btn-green-s:hover { background-color: #04d87c !important;}

.simi-btn-red { background-color:#f44336 !important;}
.simi-btn-red:hover { background-color: #ce2f23 !important;}

.simi-btn-silver { background-color: rgb(145, 145, 145) !important;}
.simi-btn-silver:hover { background-color: silver !important;}