<div *ngIf="load" class="center-content" style="height: 100% !important; width: 100% !important;">
    <img src="assets/loading/loading.gif" style="width: 100px;">
</div>
<div class="simi-bg-header mt-5 pt-3" style=" display: flex; align-items: center; font-weight: lighter;">
    <span>
        <i class="mdi mdi-account-multiple ml-2 f-15 "></i>
        Mi perfil
        <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>

        <span style="font-size: 15px;">
            <i class="mdi mdi-chart-areaspline f-15"></i>
            Información Académica</span>
    </span>
</div>

<div class="simi-card" style="text-align: center;">
    <h3>
        HISTORIAL ACADÉMICA DE CALIFICACIONES
    </h3>
    <div style="font-size: 14px;">
        <label class="simi-btn-primary btn" style="width: 90px;">Inglés</label>
        <label class="simi-btn-primary btn" style="width: 90px;">Francés</label>
        <label class="simi-btn-primary btn" style="width: 90px;">Quechua</label>
        <label class="simi-btn-primary btn" style="width: 90px;">Alemán</label>
        <label class="simi-btn-primary btn" style="width: 90px;">Italiano</label>
        <label class="simi-btn-primary btn" style="width: 90px;">Japonés</label>
        <label class="simi-btn-primary btn" style="width: 90px;">Coreano</label>
        <label class="simi-btn-primary btn" style="width: 90px;">Portugués</label>
    </div>
</div>

<app-historial-datos-alumno></app-historial-datos-alumno>
<div class="simi-card">
    <h4>Calificaciones</h4>
    <hr />
    <div>
        <button class="simi-btn-dark btn">Descargar en PDF</button>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead>
                <tr class="head">
                    <th>Idioma</th>
                    <th>Nivel</th>
                    <th>Curso</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tr>
                <td>Inglés</td>
                <td>Básico</td>
                <td>I</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Inglés</td>
                <td>Básico</td>
                <td>II</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Inglés</td>
                <td>Básico</td>
                <td>III</td>
                <td>18</td>
            </tr>
        </table>
    </div>
</div>