

#body{
    margin:auto;
    width: 800px;
    height: 420px;
    border: 1px solid black;
    color: white;
    
}

#izquierda{
    width: 360px;
    height: 380px;
    background-color:#096ac6;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    margin-right: 10px;
    -webkit-box-shadow: 10px 9px 5px -2px rgba(204,202,204,1);
-moz-box-shadow: 10px 9px 5px -2px rgba(204,202,204,1);
box-shadow: 10px 9px 5px -2px rgba(204,202,204,1);
}

#derecha{
    width: 360px;
    height: 380px;
    background-color:#096ac6;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    -webkit-box-shadow: 10px 9px 5px -2px rgba(204,202,204,1);
-moz-box-shadow: 10px 9px 5px -2px rgba(204,202,204,1);
box-shadow: 10px 9px 5px -2px rgba(204,202,204,1);
    
}

#foto{
    height: 150px;
    width: 150px;
    background-color: white;
    margin-left: 105px;
    margin-right: 150px;
    margin-top: 70px;
    margin-bottom: 50px;
}

#idNombre{
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
table{
    background-color: #096ac6;
}
#datosPersonales{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}