<div class="simi-bg-header mt-5 pt-3" style=" display: flex; align-items: center; font-weight: lighter;">
    <span>
        <i class="mdi mdi-account-multiple ml-2 f-15 "></i>
        Mi perfil
        <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>

        <span style="font-size: 15px;">
            <i class="mdi mdi-book-information-variant f-15"></i>
            Información Académica</span>
    </span>
</div>
<div>
    <div class="row m-0">
        <div class="col-lg-6 col-md-6 m-0 p-0">
            <div class="simi-card">
                <div>
                    <h4>Información Personal</h4>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="simi-bg-gray-circle">
                        </div>
                        <div>
                            <label class="simi-section-label-rose">{{user.dni}}</label>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div>
                            <label class="simi-section-label-blue">
                               {{user.university}}
                            </label>
                        </div>
                        <div>
                            <label class="simi-section-label-dark">
                                {{user.phone}}
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <label style="font-size: 13px; color: gray">
                        <i class="mdi mdi-account" style="font-size: 25px; color: black;"></i>
                        NOMBRES
                    </label>
                    <br class="mb-1"/>
                    <input class="simi-input-text form-control" type="text" name="nombres"
                    [value]="user.nombre"/>
                </div>

                <div class="mt-3">
                    <label style="font-size: 13px; color: gray">
                        <i class="mdi mdi-account" style="font-size: 25px; color: black;"></i>
                        APELLIDO PATERNO
                    </label>
                    <br class="mb-1"/>
                    <input class="simi-input-text form-control" type="text" name="apPaterno"
                    [value]="user.apPaterno"/>
                </div>
                <div class="mt-3">
                    <label style="font-size: 13px; color: gray">
                        <i class="mdi mdi-account" style="font-size: 25px; color: black;"></i>
                        APELLIDO MATERNO
                    </label>
                    <br class="mb-1"/>
                    <input class="simi-input-text form-control" type="text" name="apMaterno"
                    [value]="user.apMaterno"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 m-0 p-0">
            <div class="simi-card">
                <div>
                    <h4>Información del Alumno</h4>
                </div>
                <div class="text-center">
                    <label class="simi-section-label-blue">
                       {{user.email}}
                    </label>
                </div>
                <div>
                    <label style="font-size: 13px; color: gray">
                        <i class="mdi mdi-account" style="font-size: 25px; color: black;"></i>
                        SEXO
                    </label>
                    <br class="mb-1"/>
                    <input class="simi-input-text form-control" type="text" name="nombres"
                    [value]="user.genero"/>
                </div>

                <div class="mt-3">
                    <label style="font-size: 13px; color: gray">
                        <i class="mdi mdi-account" style="font-size: 25px; color: black;"></i>
                        FECHA DE NACIMIENTO (EDAD)
                    </label>
                    <br class="mb-1"/>
                    <input class="simi-input-text form-control" type="text" name="apPaterno"
                    [value]="user.birthday + ' - ' + user.edad + ' años'"/>
                </div>
                <div class="mt-3">
                    <label style="font-size: 13px; color: gray">
                        <i class="mdi mdi-account" style="font-size: 25px; color: black;"></i>
                        LUGAR DE NACIMIENTO
                    </label>
                    <br class="mb-1"/>
                    <input class="simi-input-text form-control" type="text" name="apMaterno"
                    [value]="user.lugarNacDep + ' - '+ user.lugarNacProv + ' - ' + user.lugarNacDist"/>
                </div>
                <div class="mt-3">
                    <label style="font-size: 13px; color: gray">
                        <i class="mdi mdi-account" style="font-size: 25px; color: black;"></i>
                        DIRECCIÓN
                    </label>
                    <br class="mb-1"/>
                    <input class="simi-input-text form-control" type="text" name="apPaterno"
                    [value]="user.address"/>
                </div>
                <div class="mt-3">
                    <label style="font-size: 13px; color: gray">
                        <i class="mdi mdi-account" style="font-size: 25px; color: black;"></i>
                        NACIONALIDAD
                    </label>
                    <br class="mb-1"/>
                    <input class="simi-input-text form-control" type="text" name="apPaterno"
                    [value]="user.nacionalidad"/>
                </div>
            </div>
        </div>
    </div>
</div>