

#idNombre{
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

#datosPersonales{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.section-photo{
    background-color: #1a1a1a;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    display: inline-block;
  }

  .section-codigo{
    background-color: #ea0a7a;
    border-radius: 7px;
    padding: 5.5px 9.5px;
    margin: 5px;
    font-size: 14px;
    color: white;
  }

  .card-profile {
    background-color: white;
  }