<div style="background-color: #e9ebee; height: 100%;">
    <div class="pb-3 font-weight-light">
        <div class="simi-bg-header" style=" display: flex; align-items: center;">
            <span>
                <i class="mdi mdi-account-multiple f-15 "></i>
                Mi perfil
                <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>

                <span style="font-size: 15px;">
                    <i class="mdi mdi-book-information-variant f-15"></i>
                    Información Académica</span>
            </span>
        </div>
        <div class="row m-0">
            <div class="col-lg-6" style="position: relative;margin: 0px !important; padding: 10px !important;">
                <div class="mt-2 table-responsive card-profile">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="section-photo">
                                    </div>
                                </td>
                                <td>
                                    <h3>Saenz Falcón, <span>Brandon Duvan</span></h3>
                                    <span class="section-codigo">16200094</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-3">

                        </div>
                        <div class="col-lg-9">

                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="position: relative;margin: 0px !important; padding: 10px !important;">
                <div class="mt-2 table-responsive card-profile">
                    <div class="text-center mt-3">
                        <h4>Información Personal</h4>
                    </div>
                    <table class="table table-hover table-light"
                     style="font-size: 15px; font-weight: normal; padding-left: 5px; padding-right: 5px;">
                        <tbody>

                            <tr>
                                <td>
                                    <i class="mdi mdi-card-text f-15 "></i> DNI
                                    <div>
                                        <span>72525673</span>
                                    </div>
                                </td>
                                <td>
                                    <span>72525673</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <i class="mdi mdi-gender-male-female f-15"></i> SEXO
                                </td>
                                <td>
                                    <span>
                                        MASCULINO
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="mdi mdi-calendar f-15"></i> FECHA DE NACIMIENTO
                                </td>
                                <td>
                                    07-09-1997
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="mdi mdi-map-marker f-15"></i>  LUGAR DE NACIMIENTO
                                </td>
                                <td>
                                    LIMA / LIMA / VILLA EL SALVADOR
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="mdi mdi-phone f-15"></i> CELULAR
                                </td>
                                <td>
                                    938560903
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="mdi mdi-email f-15"></i> CORREO
                                </td>
                                <td>
                                    diego.soto1@unmsm.edu.pe
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

</div>