<div class="header-user-list mb-2">
    <button type="button" class="btn-nuevo ml-1 mr-1" (click)="eliminar()">
        <i class="mdi mdi-delete f-16"></i> Eliminar
    </button>
    <button class="btn-nuevo ml-1 mr-1" (click)="guardar()">
        <i class="mdi mdi-plus-box-multiple-outline f-16"></i> Guardar
    </button>
    <button type="button" class="btn-nuevo ml-1 mr-1" (click)=" cancelar()">
        <i class="mdi mdi-close-circle f-16"></i> Cancelar
    </button>
</div>

<div *ngIf="load" class="div-loading my-5"><img class="loading" src="{{loading}}" /></div>
<span *ngIf="empty" class="not-complete ml-3" style="    color: red;">
    {{successText}} <br /></span>


    
    <h5 class="modal-title ml-3" style=" color: #317bbc;">Formulario de Edición de Idioma </h5>
    <hr>

    <div class="row">
        <div class="col-md-6">
        <div class="form-group row mx-3">
            <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;"> 
                <i class="mdi mdi-library-books f-16"></i>  Nombre </label>
                <div class="col-sm-11 ">
                    <input name="nomIdioma" [(ngModel)]="idioma.nomIdioma" 
                    type="text" class="form-control">
                </div>
        </div>
    </div>
        <div class="col-md-6">

            <div class="form-group row mx-3">
                <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;"> 
                    <i class="mdi mdi-rotate-right-variant f-16"></i>  Descripcion</label>
                    <div class="col-sm-11 ">
                        <textarea name="descIdioma"  [(ngModel)]="idioma.descIdioma" 
                        class="form-control" rows="3"></textarea>
                    </div>
            </div>
        </div>
      </div>
