<div class="mx-5 my-3">

    <div class="header-user-list mt-3">
        <button type="button" class="btn-nuevo ml-1 mr-1" (click)="eliminar()">
            <i class="mdi mdi-delete f-16"></i> Eliminar
        </button>
        <button class="btn-nuevo ml-1 mr-1" (click)="guardar()">
            <i class="mdi mdi-plus-box-multiple-outline f-16"></i> Guardar
        </button>
        <button type="button" class="btn-nuevo ml-1 mr-1" (click)=" cancelar()">
            <i class="mdi mdi-close-circle f-16"></i> Cancelar
        </button>
    </div>
    <div *ngIf="load" class="div-loading my-5"><img class="loading" src="{{loading}}" /></div>
    <span *ngIf="empty" class="not-complete">
        {{successText}} <br /></span>

        
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 ">
                <form class="bg-form p-4 border rounded-sm">
                    <h4 class="font-weight-bold text-center py-2 bg-title text-white">Formulario</h4>

                    <hr class="mb-4"/>



                    

                     <div class="form-group row mx-3">
                        <label for="inputEmail3"
                            class="col-sm-4 col-form-label text-sm-right">Lenguaje:</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>Ingles</option>
                                    <option>Español</option>
                                    <option>Italiano</option>
                                    <option>Frances</option>
                                    <option>Japones</option>                      
                                    </select>
                            </div>
                    </div>
                    <div class="form-group row mx-3">
                        <label for="inputEmail3"
                            class="col-sm-4 col-form-label text-sm-right">Ciclo:</label>
                        <div class="col-sm-8">
                            <input type="Descripcion" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group row mx-3">
                        <label for="inputEmail3"
                            class="col-sm-4 col-form-label text-sm-right">Nivel:</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>Basico</option>
                                    <option>Intermedio</option>
                                    <option>Avanzado</option>
                      
                                    </select>
                            </div>
                    </div>


                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>