.section-new{
    margin: 2px;
}

.btn-examen-clasificacion{
    background-color: #ee7600;
    font-size: 20px;
    border-radius: 0px !important;
    color: white;
    border: 0px;
    padding: 8px;
    width: 100%;
    margin: 2px;
    font-weight: lighter;
}

.btn-examen-clasificacion:hover{
  background-color: #f1390b;
}

.btn-ver-idiomas{
    background-color: #3f51b5;
    font-size: 13px;
    color: white;
    border: 0px;
    padding: 8px;
    margin: 2px;
    font-weight: lighter;
}

.btn-ver-idiomas:hover{
  background-color: #213397;
}

.card-feed{
    background-color: white;
}

  .section-photo-new{
    background-color: #ebebeb;
    border-radius: 35px;
    width: 50px;
    height: 50px;
    display: inline-block;
  }