<div class="simi-card">
    <div style="text-align: left; height: 56px;" class="mb-4">
        <button class="btn simi-btn-primary" style="width: 100%; height: 100%;">CENTRO DE IDIOMAS</button>
    </div>
    <div class="section-new" style="text-align: left;">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="section-photo-new center-content ml-2 mr-2">
                            <img src="favicon.ico" width="30" />
                        </div>
                    </td>
                    <td style="width: 100%;">
                        <div>
                            <span style="font-size: 16px; font-weight: bolder;">¡Bienvenido al Centro de Idiomas!</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="ml-1 mr-1">
                            <div class="mb-2 mt-1">
                                <span style="font-size: 13px;">Aquí encontrarás el idioma que estabas buscando.</span>
                            </div>
                            <div class="mt-1">
                                <div style="text-align: center;">
                                    <button class="btn simi-btn-red" style="width: 100%;">
                                        Ver idiomas
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>
    <div class="section-new" style="text-align: left;">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="section-photo-new center-content ml-2 mr-2">
                            <img src="favicon.ico" width="30" />
                        </div>
                    </td>
                    <td style="width: 100%;">
                        <div>
                            <span style="font-size: 16px; font-weight: bolder;">¡Descubre en qué nivel estás!</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="ml-1 mr-1">
                            <div class="mb-2 mt-1">
                                <span style="font-size: 13px;">Elige una de estas opciones</span>
                            </div>
                            <div>
                                <button class="btn simi-btn-red" style="width: 100%;">
                                    <i class="mdi mdi-file-document-box-check-outline"
                                        style="font-size: 35px;"></i><br />
                                    Examen de Clasificación
                                </button>
                            </div>
                            <div>
                                <button class="btn simi-btn-red" style="width: 100%;">
                                    <i class="mdi mdi-file-document-box-plus-outline"
                                        style="font-size: 35px;"></i><br />
                                    Examen de Rezagados
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>