.section-feed-idiomas{
    background-color: rgb(243, 242, 242);
    padding: 10px 10px 10px 10px;
    color: white;
  }

  

  .idiomas-bg{
    cursor: pointer;
}
.idiomas-bg:hover{
    background-color: rgb(95, 95, 95, 0.1);
    border-radius: 8px;
}