<div *ngIf="load" class="center-content" style="height: 100% !important; width: 100% !important;">
    <img src="assets/loading/loading.gif" style="width: 100px;">
    <div>
        <h5>Cargando...</h5>
    </div>
</div>
<div *ngIf="!load" class="simi-bg-header mt-5 pt-3" style=" display: flex; align-items: center; font-weight: lighter;">
    <span>
        <i class="mdi mdi-home mr-1 ml-2 f-15"></i>
        Centro de Idiomas
        <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>
        <span style="font-size: 15px;">
            Plan de Estudios
        </span>
    </span>
</div>
<div *ngIf="!load" class="simi-card">
    <div>
        <h5>Plan de Estudios de Idiomas</h5>
        <p style="font-size: 14px;">Detalles sobre el plan de estudio.</p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="simi-hover p-2">

                <h6 class="simi-primary">
                    <i class="mdi mdi-translate" style="font-size: 22px !important;"></i>
                    Idiomas</h6>
                <p style="font-size: 14px;">Contamos con diversos idiomas tales como Inglés, Portugués, Francés,
                    Italiano, Quechua, Alemán, Coreano y Japonés.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="simi-hover p-2">
                <h6 class="simi-rose">
                    <i class="mdi mdi-alphabetical-variant" style="font-size: 22px !important;"></i>
                    Nivel del Idioma</h6>
                <p style="font-size: 14px;">Cada idioma se divide en niveles de enseñanza que ayudará a consolidar su
                    aprendizaje.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="simi-hover p-2">
                <h6 class="simi-green">
                    <i class="mdi mdi-notebook-multiple" style="font-size: 22px !important;"></i>
                    Ciclo del Nivel
                </h6>
                <p style="font-size: 14px;">Cada nivel se divide en ciclos que ayudará a afianzar su conocimiento.</p>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div >
            <label
            *ngFor="let plan of planEstudios; let i = index">
                <button class="btn" 
                (click)="showIdiomaPlan(i, plan)"
                [ngClass]="selected[i] ? 'simi-btn-primary' : 'simi-btn-silver'">
                <i class="mdi mdi-transition-masked" style="font-size: 18px !important;"></i> {{plan.idioma.nomIdioma}}
                </button>
            </label>
        </div>
        <div *ngIf="planSelected">
            <h5>{{planSelected.idioma.nomIdioma}}</h5>
            <hr />
            <div *ngIf="planSelected.plan?.length === 0">
                <p style="font-size: 14px;">Este idioma no cuenta con un plan de estudios durante este Periodo Académico</p>
            </div>
            <div *ngIf="planSelected.plan" class="row mb-3">
                <div *ngFor="let pl of planSelected.plan" class="text-center table-responsive col-lg-6">
                    <label style="width: 100%;" class="btn" [ngClass]="pl.idNivel === 1 ? 
                                'simi-btn-primary' : pl.idNivel === 2 ? 
                                'simi-btn-orange' : pl.idNivel === 3 ? 
                                'simi-btn-rose' : 'simi-btn-dark'">
                        <i class="mdi" [ngClass]="pl.idNivel === 1 ? 
                        'mdi-book' : pl.idNivel === 2 ? 
                        'mdi-book-open-variant' : pl.idNivel === 3 ? 
                        'mdi-book-open-page-variant' : 'mdi-book-variant-multiple'"
                        style="font-size: 25px"></i><br/>
                        {{pl.nomNivel}}
                    </label>
                    <table class="table table-bordered table-sm p-2">
                        <tbody>
                            <tr>
                                <td style="width: 90px;">
                                    <label style="font-size: 13px;">Ciclos</label>
                                </td>
                                <td>
                                    <label style="font-size: 13px;">Libro</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="btn simi-btn-dark">
                                        {{pl.countCiclo}}
                                    </label>
                                </td>
                                <td>
                                    <label style="font-size: 14px;">
                                        <b>{{pl.libro}}</b>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <div *ngFor="let plan of planEstudios">
            <h5>{{plan.idioma.nomIdioma}}</h5>
            <hr />
            <div class="row mb-3">
                <div *ngFor="let pl of plan.plan" class="text-center table-responsive col-lg-6">
                    <label style="width: 100%;" class="btn" [ngClass]="pl.idNivel === 1 ? 
                                'simi-btn-primary' : pl.idNivel === 2 ? 
                                'simi-btn-orange' : pl.idNivel === 3 ? 
                                'simi-btn-rose' : 'simi-btn-dark'">
                        <i class="mdi" [ngClass]="pl.idNivel === 1 ? 
                        'mdi-book' : pl.idNivel === 2 ? 
                        'mdi-book-open-variant' : pl.idNivel === 3 ? 
                        'mdi-book-open-page-variant' : 'mdi-book-variant-multiple'"
                        style="font-size: 25px"></i><br/>
                        {{pl.nomNivel}}
                    </label>
                    <table class="table table-bordered table-sm p-2">
                        <tbody>
                            <tr>
                                <td style="width: 90px;">
                                    <label style="font-size: 13px;">Ciclos</label>
                                </td>
                                <td>
                                    <label style="font-size: 13px;">Libro</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="btn simi-btn-dark">
                                        {{pl.countCiclo}}
                                    </label>
                                </td>
                                <td>
                                    <label style="font-size: 14px;">
                                        <b>{{pl.libro}}</b>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
</div>