<div class="m-3">
    <div>
        <span class="title-module">
            <i class="mdi mdi-tablet-dashboard f-15" style="font-size: 22px;"></i>Plan de estudio
        </span>
        <hr />
    </div>

    <!-- <div>
    <button>Descargar en PDF</button>
</div> -->
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="section-matricula">
                <span>
                    <b>Plan de estudio</b>
                </span>
                <div style="font-size: 14px;">
                    <span>
                        Detalles sobre el plan de estudio.
                        <hr />
                    </span>
                </div>
                <div style="font-size: 14px;">
                    <table class="table-hover" table-responsive>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="p-2">
                                        <span>
                                            <i class="mdi mdi-voice" style="font-size: 18px;"></i>
                                            <b>  Idiomas</b>
                                            <br />
                                            Contamos con diversos idiomas tales como Inglés, Portugués, Francés,
                                            Italiano, Quechua, Alemán, Coreano y Japonés
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="p-2">
                                        <span>
                                            <i class="mdi mdi-trending-up" style="font-size: 18px;"></i>
                                            <b>  Nivel</b>
                                            <br />
                                            Cada idioma se divide en niveles de enseñanza que ayudará a consolidar su
                                            aprendizaje.
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="p-2">
                                        <span>
                                            <i class="mdi mdi-book-open-variant" style="font-size: 18px;"></i>
                                            <b>  Ciclos</b>
                                            <br />
                                            Cada nivel se divide en ciclos que ayudará a afianzar su conocimiento.
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
            <div id="container">
                <table>
                    <thead>
                        <tr class="head">
                            <th>Idioma</th>
                            <th>Nivel</th>
                            <th>Ciclo</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let plan of planes">
                            <td>{{plan.nomIdioma}}</td>
                            <td>{{plan.nomNivel}}</td>
                            <td>{{plan.countCiclo}}</td>
                        </tr>
                    </tbody>
                    <!-- <tr class="idioma">
                        <td rowspan="5">{{ idioma[0] }}</td>
                    </tr>
                    <tr>
                        <td>{{ nivel[0] }}</td>
                        <td> {{ ciclo[0][0] }} </td>
                        <td> {{ libro[0][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[1] }}</td>
                        <td> {{ ciclo[0][1] }} </td>
                        <td> {{ libro[0][1]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[2] }}</td>
                        <td> {{ ciclo[0][2] }} </td>
                        <td> {{ libro[0][2] }} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[3] }}</td>
                        <td> {{ ciclo[0][3] }} </td>
                        <td> {{ libro[0][3] }} </td>
                    </tr>

                    <tr class="idioma">
                        <td rowspan="5">{{ idioma[1] }}</td>
                    </tr>
                    <tr>
                        <td>{{ nivel[0] }}</td>
                        <td> {{ ciclo[1][0] }} </td>
                        <td> {{ libro[1][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[1] }}</td>
                        <td> {{ ciclo[1][1] }} </td>
                        <td> {{ libro[1][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[2] }}</td>
                        <td> {{ ciclo[1][2] }} </td>
                        <td> {{ libro[1][0] }} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[3] }}</td>
                        <td> {{ ciclo[1][3] }} </td>
                        <td> {{ libro[1][1] }} </td>
                    </tr>

                    <tr class="idioma">
                        <td rowspan="4">{{ idioma[2] }}</td>
                    </tr>
                    <tr>
                        <td>{{ nivel[0] }}</td>
                        <td> {{ ciclo[2][0] }} </td>
                        <td> {{ libro[2][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[1] }}</td>
                        <td> {{ ciclo[2][1] }} </td>
                        <td> {{ libro[2][1]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[2] }}</td>
                        <td> {{ ciclo[2][2] }} </td>
                        <td> {{ libro[2][2] }} </td>
                    </tr>

                    <tr class="idioma">
                        <td rowspan="4">{{ idioma[3] }}</td>
                    </tr>
                    <tr>
                        <td>{{ nivel[0] }}</td>
                        <td> {{ ciclo[3][0] }} </td>
                        <td> {{ libro[3][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[1] }}</td>
                        <td> {{ ciclo[3][1] }} </td>
                        <td> {{ libro[3][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[2] }}</td>
                        <td> {{ ciclo[3][2] }} </td>
                        <td> {{ libro[3][0] }} </td>
                    </tr>

                    <tr class="idioma">
                        <td rowspan="4">{{ idioma[4] }}</td>
                    </tr>
                    <tr>
                        <td>{{ nivel[0] }}</td>
                        <td> {{ ciclo[4][0] }} </td>
                        <td> {{ libro[4][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[1] }}</td>
                        <td> {{ ciclo[4][1] }} </td>
                        <td> {{ libro[4][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[2] }}</td>
                        <td> {{ ciclo[4][2] }} </td>
                        <td> {{ libro[4][0] }} </td>
                    </tr>

                    <tr class="idioma">
                        <td rowspan="4">{{ idioma[5] }}</td>
                    </tr>
                    <tr>
                        <td>{{ nivel[0] }}</td>
                        <td> {{ ciclo[5][0] }} </td>
                        <td> {{ libro[5][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[1] }}</td>
                        <td> {{ ciclo[5][1] }} </td>
                        <td> {{ libro[5][1]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[2] }}</td>
                        <td> {{ ciclo[5][2] }} </td>
                        <td> {{ libro[5][2] }} </td>
                    </tr>

                    <tr class="idioma">
                        <td rowspan="4">{{ idioma[6] }}</td>
                    </tr>
                    <tr>
                        <td>{{ nivel[0] }}</td>
                        <td> {{ ciclo[6][0] }} </td>
                        <td> {{ libro[6][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[1] }}</td>
                        <td> {{ ciclo[6][1] }} </td>
                        <td> {{ libro[6][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[2] }}</td>
                        <td> {{ ciclo[6][2] }} </td>
                        <td> {{ libro[6][0] }} </td>
                    </tr>

                    <tr class="idioma">
                        <td rowspan="4">{{ idioma[7] }}</td>
                    </tr>
                    <tr>
                        <td>{{ nivel[0] }}</td>
                        <td> {{ ciclo[7][0] }} </td>
                        <td> {{ libro[7][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[1] }}</td>
                        <td> {{ ciclo[7][1] }} </td>
                        <td> {{ libro[7][0]}} </td>
                    </tr>
                    <tr>
                        <td>{{ nivel[2] }}</td>
                        <td> {{ ciclo[7][2] }} </td>
                        <td> {{ libro[7][0] }} </td>
                    </tr>
 -->
                </table>
            </div>
        </div>
    </div>
</div>