<div class="m-3">
    <div>
        <span class="title-module">
            <i class="mdi mdi-tablet-dashboard f-15" style="font-size: 22px;"></i>Plan de estudio
        </span>
        <hr />
    </div>

    <div>
        <button>Descargar en PDF</button>
    </div>
    <div class="row" style="margin-right: 80px; margin-left: 80px; margin-top: 50px;">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="section-matricula">
                <span>
                    <b>Plan de estudio</b>
                </span>
                <div style="font-size: 14px;">
                    <span>
                        Detalles sobre el plan de estudio.
                        <hr />
                    </span>
                </div>
                <div style="font-size: 14px;">
                    <table class="table-hover" table-responsive>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="p-2">
                                        <span>
                                            <i class="mdi mdi-voice" style="font-size: 18px;"></i>
                                            <b> Idiomas</b>
                                            <br />
                                            Contamos con diversos idiomas tales como Inglés, Portugués, Francés,
                                            Italiano, Quechua, Alemán, Coreano y Japonés
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="p-2">
                                        <span>
                                            <i class="mdi mdi-trending-up" style="font-size: 18px;"></i>
                                            <b> Nivel</b>
                                            <br />
                                            Cada idioma se divide en niveles de enseñanza que ayudará a consolidar su
                                            aprendizaje.
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="p-2">
                                        <span>
                                            <i class="mdi mdi-book-open-variant" style="font-size: 18px;"></i>
                                            <b> Ciclos</b>
                                            <br />
                                            Cada nivel se divide en ciclos que ayudará a afianzar su conocimiento.
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div id="container" class="section-matricula">
                <table>
                    <thead>
                        <tr class="head">
                            <th>Idioma</th>
                            <th>Nivel</th>
                            <th>Ciclo</th>
                            <th>Libro</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let plan of planes">
                            <td>{{plan.nomIdioma}}</td>
                            <td>{{plan.nomNivel}}</td>
                            <td>{{plan.countCiclo}}</td>
                            <td> {{plan.libro}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>