.btn-item{
    background-color: rgb(26, 26, 26);
    width: 100%;
    text-align: center;
    font-size: 14.5px;
    color: white;
    border-radius: 0px !important;
    text-align: left !important;
    margin-bottom: 2px;
}

  .f-11{
    font-size: 8.5px;
  }
  .subitem{
    width: 269px;
    text-align: left !important;
    font-size: 14px;
    border-radius: 0px !important;
  }

  .btn-item:hover{
    background-color: #323232;
  }
  .ele {
  animation: 0.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}