
<div id="body">
    <div id="izquierda">
        <div id="foto">foto</div>
        <div>
            <hr>
           

            <h1 id="idNombre" >
                SOTO BEJAR DIEGO ELIAS
                <br>
                <br>
                22 años
            </h1>
            
        </div>  
    </div>
    <div id="derecha">
        <div>
            <h1 id="datosPersonales">DATOS PERSONALES</h1>
        </div>
            
        
        <table class="table" style="font-size: 15px">
            <tbody>
                
                <tr>
                    <td>
                        <strong style="color: white;">DNI</strong>
                    </td>
                    <td>
                        <span style="color: white;">72525673</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong style="color: white;">SEXO</strong>
                    </td>
                    <td>
                        <span style="color: white;">
                                MASCULINO  
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong style="color: white;">FECHA DE NACIMIENTO</strong>
                    </td>
                    <td style="color: white;">
                        07-09-1997
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong style="color: white;">LUGAR DE NACIMIENTO</strong>
                    </td>
                    <td style="color: white;">
                        LIMA / LIMA / VILLA EL SALVADOR
                    </td>
                </tr>
            
                <tr>
                    <td>
                        <strong style="color: white;">CELULAR</strong>
                    </td>
                    <td style="color: white;">
                        938560903
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong style="color: white;">CORREO</strong>
                    </td>
                    <td style="color: white;">
                        diego.soto1@unmsm.edu.pe
                    </td>
                </tr>
            
            </tbody>
        </table>
    </div>
</div>

