<div class="header-matricular">
    <div class="ml-3 mt-3 mr-3">
        <span class="title-module">
            <i class="mdi mdi-application mr-1" style="font-size: 22px;"></i>Matrícula Online
        </span>
        -
        <span>
            <b>Verificar Matricula</b>
        </span>
        <hr class="mt-1"/>
    </div>
    <div class="text-center">
        <h4>Matrícula Online</h4>
        <span>Ciclo Febrero 2020</span>
        <div style="font-size: 14px;"><b>05/02/2020</b></div>
    </div>

    <div style="margin-right: 80px; margin-left: 80px;">
        <div class=" mt-5 row">
            <div class="col-lg-6 col-md-5 col-sm-6 mb-1">
                <div>
                    <span>Total de cursos matriculados:</span>
                    <span class="ml-2"><b>2</b></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-1 col-sm-12">

            </div>
            <div class="col-lg-2 col-md-2 col-sm-6">
                <button class="btn-cancel mb-1" (click)="atras()">
                    <i class="mdi mdi-close-circle"></i> Atras
                </button>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <button class="btn-siguiente" (click)="finalizar()">
                    Finalizar <i class="mdi mdi-skip-next"></i>
                </button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover text-center table-matricular">
                <thead class="thead-dark" style=" border: solid 1px #acacac;">
                    <tr>
                        <th></th>
                        <th>Sede</th>
                        <th>Idioma</th>
                        <th>Nivel</th>
                        <th>Docente</th>
                        <th>Matriculados</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody style=" border: solid 1px #acacac;">
                    <tr>
                        <td>
                            <mat-checkbox class="oink"></mat-checkbox>
                        </td>
                        <td>Ciudad Universitaria</td>
                        <td>Francés</td>
                        <td>Intermedio V</td>
                        <td>Duvan Saenz Falcón</td>
                        <td><button class="btn-none">-</button></td>
                        <td><button class="btn-cancel">Seleccionar Horario</button></td>
                    </tr>
                    <tr>
                        <td>
                            <mat-checkbox class="oink"></mat-checkbox>
                        </td>
                        <td>Ciudad Universitaria</td>
                        <td>Francés</td>
                        <td>Intermedio V</td>
                        <td>Duvan Saenz Falcón</td>
                        <td><button class="btn-matriculados-top">15</button></td>
                        <td><button class="btn-cancel">Seleccionar Horario</button></td>
                    </tr>
                    <tr>
                        <td>
                            <mat-checkbox class="oink"></mat-checkbox>
                        </td>
                        <td>Ciudad Universitaria</td>
                        <td>Francés</td>
                        <td>Intermedio V</td>
                        <td>Duvan Saenz Falcón</td>
                        <td><button class="btn-matriculados-none">5</button></td>
                        <td><button class="btn-cancel">Seleccionar Horario</button></td>
                    </tr>
                    <tr>
                        <td>
                            <mat-checkbox class="oink"></mat-checkbox>
                        </td>
                        <td>Ciudad Universitaria</td>
                        <td>Francés</td>
                        <td>Intermedio V</td>
                        <td>Duvan Saenz Falcón</td>
                        <td><button class="btn-matriculados-empty">0</button></td>
                        <td><button class="btn-cancel">Seleccionar Horario</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div  >