<div class="m-3">
    <div>
        <span class="title-module" style="font-size: 22px;">
            <i class="mdi mdi-hand mr-1"></i><b>Bienvenido</b>,
            <span>Duvan Saenz Falcón</span>
        </span>
        <hr />
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Últimas actualizaciones</h6>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Solicitar habilitación de curso</strong>
            Ahora puedes realizar la solicitud de apertura de algún curso que no se encuentre disponible en la programación de cursos.
          </p>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Matricula Online</strong>
            Matricula Online disponible desde el 31 de enero de 2020.
          </p>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Programación de cursos</strong>
            Cursos disponibles del Ciclo Febrero 2020.
          </p>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">Más noticias</a>
        </small>
      </div>
</div>