<div style="background-color: #e9ebee;">
  <div class="pb-3 text-center font-weight-light" style="padding-top: 54px;">
    <div class="row m-0">
      <div class="col-lg-4 col-md-6 col-12" style="position: relative;margin: 0px !important; padding: 0px !important;">
        <div class="section-feed">
          <div class="section-photo">
          </div>
          <div class="mt-1">
            <span class="f-16">Brandon Duvan Saenz Falcón</span>
          </div>
          <div class="mt-2 mb-2">
            <span class="section-codigo">16200049</span>
          </div>
          <div class="mt-1">
            <i class="mdi mdi-school-outline"></i><br />
            <span class="section-universidad">Universidad Nacional Mayor de San Marcos</span>
          </div>
          <div class="mt-3">
            <i class="mdi mdi-email-outline"></i><br />
            <span class="section-email">duvanbradbrid@gmail.com</span>
          </div>
          <div class="mt-3 mb-2">
            <i class="mdi mdi-cellphone"></i><br />
            <span class="section-email">+51 993420344</span>
          </div>
          <div>
            <button class="btn-blue-d">
              <i class="mdi mdi-book-information-variant" style="font-size: 30px;"></i><br />
              Información Académica
            </button>
            <button class="btn-black-blue-d">
              <i class="mdi mdi-account" style="font-size: 30px;"></i><br />
              Cuenta de Usuario
            </button>
          </div>
        </div>
        
      </div>
      <div class="col-lg-4 col-md-6 col-12" style="margin: 0px !important; padding: 0px !important;">
        <app-news></app-news>
      </div>
      <div class="col-lg-4 col-12" style="margin: 0px !important; padding: 0px !important;">
        <div class="section-feed-idiomas">
          <div>
            <span *ngFor="let photo of photos">
              <img src={{photo.image}} style="width: 25%;" class="idiomas-bg"></span>
          </div>
        </div>
      </div>
    </div>
  </div>