<div class="example-container">
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav opened [mode]="mobile.matches ? 'over' : 'side'" [fixedInViewport]="mobile.matches"
  class="sidenav-content">
  <div class="text-center" style="background-color: #fafafa; color: black;">
      <br/>
      <br/>
      <h2 class="example-app-name">
          <img src="favicon.ico"  style="width: 40px; margin-right: 12px;" />
          <span>Simi</span>
      </h2>
      <span style="font-size: 13.5px;">{{date | date:'fullDate':'pe'}}</span> <br />
      <span style="font-size: 13px;"><b>version 1.0</b></span>
      <br/>
      <div class="mt-3 mb-3">
          <span class="nickname-menu">
              Nataly Grace  Vásquez Saenz
          </span>
      </div>
  </div>

  <mat-nav-list style="padding-top: 0px !important;">
      <app-menu></app-menu>
  </mat-nav-list>
  <div class="text-center mt-4">
      <span style="font-size: 12px;">Simi: Sistema de Matrícula Online</span>
  </div>
</mat-sidenav>
  <mat-sidenav-content>
    <div class="header-login">
      <!-- <button (click)="snav.toggle()" class="f-left btn-sidenav">
        <i class="ml-2 mdi mdi-menu white f-20"></i>
      </button> -->

      <button (click)="snav.toggle(); navOpenClose()" class="f-left btn-sidenav">
        <i  class="ml-2 mdi mdi-menu white f-20"></i>
        <div class="f-left"><span class="text-header">{{title}}</span></div>
      </button>
      <div class="f-right">
        <button (click)="!navOpen ? nothing() : snav.toggle(); logout()" 
        class="btn-close">
          <span class="subline">Cerrar Sesión</span>
        </button>
      </div>

    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
