<div class="example-container">
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav [mode]="mobile.matches ? 'over' : 'side'" [fixedInViewport]="mobile.matches"
    style="background: rgb(248, 248, 248);">
    <div class="ml-2 mt-5 mr-2 text-center">
      <button class="f-13 btn-nuevo mb-3">Home</button>
      <h2 class="example-app-name">
        <img src="favicon.ico" style="width: 40px;" />Simi
      </h2>
      <span style="font-size: 13px;">Viernes 31 de enero de 2020</span> <br />
      <span style="font-size: 13px;">version 1.0</span>
    </div>
    <mat-nav-list id="main-menu">
      <button (click)="prueba()">Prueba</button>
      <button (click)="prueba2()">Prueba2</button>
    </mat-nav-list>
    <div class="mt-3 text-center">
      <span style="font-size: 11px;">Simi: Sistema de Matrícula</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="header-login">
      <button (click)="snav.toggle()" class="f-left btn-sidenav">
        <i class="ml-2 mdi mdi-menu white f-20"></i>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>