
#all{
    width: 800px;
    margin: 70px auto;
    height: 400px;

    
}
h2{
    font-size: 50px;
    margin-top: 30px;
}
hr {
    text-align: center;
}
.contenedor{
    width: 900px;
    height: 110px;
    margin: auto;
    margin-top: 40px;

    margin-bottom: 20px;
}
table {
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.combo{
    width: 800px;
    height: 150px;
    margin: auto;
    margin-top: 80px;


}
.boton{
    width: 800px;
    height: 30px;
    margin: auto;

    margin-bottom: 10px;
}

p{
    margin-top: 50px;
    margin-left: 400px;
}


#botonEnvvio{
    margin-top: 80px;
}

.combito{
    float: left;
    margin-left: 83px;
    margin-top: 30px;
}
#botonSolicitar{
    font-size: 20px;
}
thead {
    background-color: #096AC6;
    color: white;
}

th {
    padding: 12px;
    border-bottom: rgb(148, 148, 148) solid 1px;
    border-top: rgb(148, 148, 148) solid 1px;
}

tr {
    /* border-radius: 10px; */
    padding: 8px;
    border: rgb(148, 148, 148) solid 1px;
}

.head:hover {
    background-color: #333333;
}

tr:hover {
    background: rgb(238, 236, 236);
}
button:hover{
    background-color: #333333;
}
td{
    padding-top: 12px;
    padding-bottom: 12px;
}
label{
    font-size: 20px;
}