
 <div>
    <span class="title-module" style="font-size: 22px;">
        <i class="mdi mdi-collage mr-1"></i>Solicitud de apertura
    </span>
    <hr />
</div>

<div id="all">

<div class="contenedor">

    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Idioma</th>
                <th>Nivel</th>
                <th>Curso</th>
                <th>Horario</th>
                <th>Solicitantes</th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <td>Ingles</td>
            <td>Básico I</td>
            <td>Idk</td>
            <td>8:00 pm - 12:00pm</td>
            <td>7</td>
            <td><button class="btn btn-primary btn-sm " >Unirse</button></td>
        </tr>
        <tr>
            <td>Ingles</td>
            <td>Básico I</td>
            <td>Idk</td>
            <td>8:00 pm - 12:00pm</td>
            <td>7</td>
            <td><button class="btn btn-primary btn-sm " >Unirse</button></td>
        </tr>
    </table>
    
</div>
<div class="combo">
    
    <div class="combito">
        <label >Idioma</label>
        <select  class="custom-select d-block w-100">
          <option disabled selected value="" >Seleccione</option>
          <option></option>
        </select>
    </div>
    <div class="combito">
        <label >Nivel</label>
        <select  class="custom-select d-block w-100">
          <option disabled selected value="" >Seleccione</option>
          <option></option>
        </select>
    </div>
    <div class="combito">
        <label >Curso</label>
        <select  class="custom-select d-block w-100">
          <option disabled selected value="" >Seleccione</option>
          <option></option>
        </select>
    </div>
    <div class="combito">
        <label >Horario</label>
        <select  class="custom-select d-block w-100">
          <option disabled selected value="" >Seleccione</option>
          <option></option>
        </select>
    </div>
    
</div>

<div id="boton">
    <p><button id="botonSolicitar"class="btn btn-primary">Solicitar</button></p>
</div>
</div>
