/* Simi Styles*/
.simi-card {
    background-color: #ffffff; color: black;
    font-size: 17px; margin: 15px; padding: 17px;
}

.simi-primary{
  color: #096ac6;
}

.simi-bg-gray-circle{
  background-color: #ebebeb;border-radius: 40px;width: 80px; height: 80px; display: inline-block;
}

.simi-bg-gray-circle-lg{
  background-color: #ebebeb;border-radius: 50px;width: 100px; height: 100px; display: inline-block;
}

.simi-section-label-blue{
  background-color: #096ac6; border-radius: 4px;padding: 5.5px 9.5px;margin: 5px;font-size: 14px;color: white;
}

.simi-section-label-rose{
  background-color: #e53935;border-radius: 7px;padding: 5.5px 9.5px;margin: 5px; font-size: 14px;color: white;
}

.simi-section-label-dark{
  background-color: #323232;border-radius: 7px;padding: 5.5px 9.5px;margin: 5px; font-size: 14px;color: white;
}

.simi-section-label-green{
  background-color: #69c608;border-radius: 7px;padding: 5.5px 9.5px;margin: 5px; font-size: 14px;color: white;
}

.simi-bg-header {
  background-color: #323232;
  color: white;
  padding: 6px;
}

.simi-header{
  background-color:#f0f1f0; color: white;
  font-size: 18px;
  align-items: center;
  padding: 6px;
}

.btn {
  margin-bottom: 5px !important; border-radius: 0px !important; color: white !important; font-size: 14.5px !important; font-weight: lighter !important;
}

.simi-bg-primary {
  background-color: #096ac6 !important; color: white;
}
.simi-bg-primary:hover {
  background-color: #096ac6 !important; color: white !important;
}
.simi-btn-primary {background-color: #096ac6 !important;}
.simi-btn-primary:hover{background-color: #1a51a3 !important;
}

.simi-btn-rose {background-color: #d32f2f !important;}
.simi-btn-rose:hover{background-color: #a10857 !important;}

.simi-btn-green {background-color: #69c608 !important;}
.simi-btn-green:hover{background-color: #57a106 !important;}

.simi-btn-orange {background-color: #fa8e00 !important;}
.simi-btn-orange:hover{background-color: #d87c03 !important;}

.simi-btn-purple { background-color: #8e00fa !important;}
.simi-btn-purple:hover { background-color: #7606cc !important;}

.simi-btn-green-s { background-color:#02bb74 !important;}
.simi-btn-green-s:hover { background-color: #04d87c !important;}

.simi-btn-red { background-color:#f44336 !important;}
.simi-btn-red:hover { background-color: #ce2f23 !important;}

.simi-btn-silver { background-color: rgb(145, 145, 145) !important;}
.simi-btn-silver:hover { background-color: silver !important;}

.simi-btn-dark { background-color: #323232 !important;}
.simi-btn-dark:hover { background-color: #4e4e4e !important;}

.simi-btn-yellow { background-color: #ffeb3b !important; color: black !important;}
.simi-btn-yellow:hover { background-color: #e9d62c !important;}

.simi-btn-light { background-color: #ffffff !important; color:black !important;}
.simi-btn-light:hover { background-color: #e0e0e0 !important;}
@media screen and (max-width: 650px) {
  .simi-min-size{
      background-color: #ffffff;
      color: black;
  }
}

.simi-input-text{
  background: none !important; font-size: 18px; border: 0px !important; border-bottom: 1px solid gray !important;
}

.simi-hover:hover {
  background-color: #e0dedf;
}

