<div>
    <div class="mb-4 mt-3 section-border text-center">
        <div>
            <i class="mdi mdi-account-tie primary-color" style="font-size: 50px; color: #f44336;"></i>
        </div>
        <div>
            <h6 style="color: #f44336;">
                INVITADO
            </h6>
            <span class="f-13 m-1">Ingresar como invitado al sistema</span>
        </div>
    </div>
    <div class="mb-4 mt-3 section-border text-center">
        <div>
            <i class="mdi mdi-flag-outline primary-color" style="font-size: 50px; color: #4caf50;"></i>
        </div>
        <div>
            <h6 class="primary-color" style="color: #4caf50;">
                IDIOMAS
            </h6>
            <span class="f-13 m-1">Cursos e idiomas que se dictan</span>
        </div>
    </div>
    <div class="mb-4 mt-3 section-border text-center">
        <div>
            <i class="mdi mdi-restart primary-color" style="font-size: 50px; color: #212121;"></i>
        </div>
        <div>
            <h6 style="color: #212121;">
                PRINCIPAL
            </h6>
            <span class="f-13 m-2">Volver a la página del Centro de Idiomas</span>
        </div>
    </div>
    <!-- <div class="row mt-4 section-border">
        <div class="col-lg-12 f-grey text-center center-content">
            <i class="mdi mdi-information-outline"></i>
            <span class="f-12">Más información</span>
        </div>

    </div> -->
</div>