<div class="simi-bg-header" style=" display: flex; align-items: center; font-weight: lighter;">
    <span>
        <i class="mdi mdi-school-outline mr-1 ml-2 f-15"></i>
        Centro de Idiomas
        <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>
        <span style="font-size: 15px;">
            <i class="mdi mdi-credit-card-outline f-15"></i>
            Conceptos de Pago
        </span>
    </span>
</div>
<div class="simi-card">
    <div class="table-responsive">
        <table class="table table-md table-hover table-bordered" style="font-weight: lighter;">
            <thead class="simi-section-label-blue">
                <tr>
                    <th>Descripción</th>
                    <th>Importe</th>
                    <th>Concepto</th>
                </tr>
            </thead>
            <tbody>
                <tr style="width: 200px !important;">
                    <td>Matrícula sanmarquino <br>(Estudiante de pregrado, docente o trabajador)</td>
                    <td>S/.110.00</td>
                    <td>039-323</td>
                </tr>
                <tr>
                    <td>Matrícula público externo</td>
                    <td>S/.150.00</td>
                    <td>039-337</td>
                </tr>
                <tr>
                    <td>Matrícula posgrado <br> (Maestristas y doctorados)</td>
                    <td>S/.190.00</td>
                    <td>039-337</td>
                </tr>
                <tr>
                    <td>Matrícula de quechua <br>(Estudiante de pregrado, docente o trabajador san marquino)</td>
                    <td>S/.90.00</td>
                    <td>039-323</td>
                </tr>
                <tr>
                    <td>Matrícula de quechua <br>(Público externo)</td>
                    <td>S/.110.00</td>
                    <td>039-323</td>
                </tr>
                <tr>
                    <td>Matrícula de coreano</td>
                    <td>S/.20.00</td>
                    <td>039-008</td>
                </tr>
                <tr>
                    <td>Matrícula público externo <br>(Sede San Juan de Lurigancho)</td>
                    <td>S/.110.00</td>
                    <td>039-323</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>