

<div class="simi-header">
  
    <button class="btn simi-btn-primary ml-2 mr-1" (click)="crear()">
        <i [ngClass]="'mdi-plus-box-multiple-outline' " class="mdi f-16"></i> Crear Idioma
    </button>
    <button class="btn simi-btn-silver ml-1 mr-1" (click)="cancelar()">
        <i class="mdi mdi-close-circle f-16"></i> Cancelar

    </button>
</div>


<div *ngIf="load" class="div-loading my-5"><img class="loading" src="{{loading}}" /></div>
<span *ngIf="empty" class="not-complete ml-3" style="    color: red;">
    {{successText}} <br /></span>

    <h5 class="modal-title ml-3" style=" color: #317bbc;">Formulario Registro de Idioma </h5>
    <hr>


    <div class="row">
        <div class="col-md-6">
        <div class="form-group row mx-3">
            <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;"> 
                <i class="mdi mdi-library-books f-16"></i>  Nombre </label>
                <div class="col-sm-11 ">
                    <input name="nomIdioma" [(ngModel)]="idioma.nomIdioma" type="text" class="form-control" placeholder="Ingrese el nombre de Idioma">

                </div>
        </div>
    </div>
        <div class="col-md-6">

            <div class="form-group row mx-3">
                <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;"> 
                    <i class="mdi mdi-rotate-right-variant f-16"></i>  Descripcion</label>
                    <div class="col-sm-11 ">
                        <textarea name="descIdioma "[(ngModel)]="idioma.descIdioma" placeholder="Ingrese una descripción de Idioma" 
                        class="form-control" rows="3"></textarea>
                    </div>
            </div>
        </div>
      </div>
