<div class="header-user-list">
    <button class="btn-nuevo ml-1 mr-1" (click)="nuevoIdioma()">
        <i class="mdi mdi-plus-box-multiple-outline f-16"></i> Nuevo Idioma
    </button>
</div>
<div *ngIf="load" class="div-loading"><img class="loading" src="{{loading}}" /></div>


<div class=" form-group row right" >
    <label  class="col-sm-2 col-form-label">Filtro</label>
    <div class="col-sm-6">
        <input type="text" class="col-sm-10" placeholder="Ingrese su filtro de Búsqueda" [(ngModel)]="busquedaTexto"/>

    </div>
  </div>
<div class="w100 mt-3 table-responsive">

    <table class="table table-hover table-bordered">
        <!-- thead-primary -->
        <thead class="header-table " style ="background: #dfe3e7;">
            <tr>
                <td>
                    <div class="center-head">N°</div>
                </td>

                <td>
                    <div class="center-head">Nombre</div>
                </td>
                <td>
                    <div class="center-head">Descripción</div>
                </td>
                <td style="width: 100px;" class="text-center"></td>


            </tr>
        </thead>
        <tbody class="header-body">
            <tr *ngFor="let idioma of idiomas | filter:busquedaTexto 
            | paginate : {itemsPerPage :4,currentPage : pageActual}; let i = index">
            <td>
               <div class="center-body">{{i+1}}</div> 
           </td>  
          

               <td>
                   <div class="center-body"> <span class=" font-weight-bold badge badge-mark border-blue mr-1 "
                           style="font-size:110%;"> {{idioma.nomIdioma}} </span> </div>
               </td>
               <td>
                   <div class="center-body">{{idioma.descIdioma}} </div>
               </td>
               <td>
                   <div class="row">
                       <button class="btn-edit mt-1 ml-3 " style="background: #27c68f ;"
                           (click)="editarIdioma(idioma.cidioma)">
                           <i class="mdi mdi-border-color"
                               style=" color : white ; font-size: 20px; display: inline-block !important;"></i>
                       </button>

                       <button type="button" class="btn-edit mt-1 ml-2" style="background: #dd2f18 ;"
                           (click)="eliminarIdioma(idioma.cidioma)">
                           <i class="mdi mdi-delete  "
                               style="color : white ; font-size: 20px; display: inline-block !important;"></i>
                       </button>

                   </div>
               </td>
               <!-- <td>
                       <div class="center-body" *ngIf="mesadto.pmcapacidad===1">{{mesadto.pmcapacidad}} persona</div>
                       <div class="center-body" *ngIf="mesadto.pmcapacidad>1">{{mesadto.pmcapacidad}} personas</div>
                   </td> -->
           </tr>
        </tbody>

    </table>
















    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
</div>