<div class="main-container">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mobile.matches ? 'over' : 'side'" [fixedInViewport]="mobile.matches"
            style="background: rgb(248, 248, 248); width: 210px;">
            <div class="ml-2 mt-5 mr-2 text-center">
                <button class="f-13 btn-home mb-3">Home</button>
                <h2 class="example-app-name">
                    <img src="favicon.ico" style="width: 40px;" />Simi
                </h2>
                <span style="font-size: 13px;">Viernes 31 de enero de 2020</span> <br />
                <span style="font-size: 13px;">version 1.0</span>
            </div>

            <mat-nav-list id="main-menu">
                <app-menu></app-menu>
            </mat-nav-list>
            <div>
                <span style="font-size: 13px;">Simi: Sistema de Matrícula Online</span> <br />
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="header-login">
                <button (click)="snav.toggle()" class="btn-sidenav">
                    <i class="ml-2 mdi mdi-menu white"></i>
                </button>
            </div>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>