<div>
    <div class="row mb-4 mt-4 section-border">
        <div class="col-lg-4 center-content">
            <i class="mdi mdi-border-color primary-color" style="font-size: 2.9vw;"></i>
        </div>
        <div class="col-lg-8" style="font-size: 0.71vw;">
            <h6 class="primary-color" style="font-size: 1vw;">
                REGISTRARME
            </h6>
            <div>
                <span class="f-12">Solicitar una cuenta del Centro de Idiomas</span>
            </div>
        </div>
    </div>
    <div class="row mb-4 mt-4 section-border">
        <div class="col-lg-4  center-content">
            <i class="mdi mdi-account-tie primary-color" style="font-size: 2.9vw; color: #f44336;"></i>
        </div>
        <div class="col-lg-8" style="font-size: 0.71vw;">
            <h6 style="font-size: 1vw; color: #f44336;">
                INVITADO
            </h6>
            <span class="f-12">Ingresar como invitado al sistema</span>
        </div>
    </div>
    <div class="row mb-4 mt-4 section-border">
        <div class="col-lg-4  center-content">
            <i class="mdi mdi-flag-outline primary-color" style="font-size: 2.9vw; color: #4caf50;"></i>
        </div>
        <div class="col-lg-8" style="font-size: 0.71vw;">
            <h6 class="primary-color" style="font-size: 1vw; color: #4caf50;">
                IDIOMAS
            </h6>
            <span class="f-12">Cursos e idiomas que se dictan</span>
        </div>
    </div>
    <div class="row mb- mt-4 section-border">
        <div class="col-lg-4 center-content">
            <i class="mdi mdi-restart primary-color" style="font-size: 2.9vw; color: #212121;"></i>
        </div>
        <div class="col-lg-8" style="font-size: 0.71vw;">
            <h6 style="font-size: 1vw; color: #212121;">
                PRINCIPAL
            </h6>
            <span class="f-12">Volver a la página del Centro de Idiomas</span>
        </div>
    </div>
    <div class="row mt-5 section-border">
        <div class="col-lg-12 f-grey text-center center-content">
            <i class="mdi mdi-information-outline"></i>
            <span class="f-12">Más información</span>
        </div>

    </div>
</div>