<div class="m-3 pt-5">
    <div>
        <span class="title-module">
            <i class="mdi mdi-application mr-1" style="font-size: 22px;"></i>Matrícula Online
        </span>
        <hr />
    </div>
    <div *ngIf="error">
        <span>Ocurrió un error con el servidor.</span>
    </div>
    <div *ngIf="!load && !error">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <div class="section-matricula">
                    <span>
                        <b>Matrícula</b>
                    </span>
                    <div *ngIf="!pagosRealizados?.length">
                        <span style="font-size: 13px;">
                            Matrícula no habilitada
                        </span>
                    </div>
                    <div *ngIf="pagosRealizados?.length">
                        <div style="font-size: 14px;">
                            <span>
                                Realiza tu matrícula online ahora mismo.
                                <hr />
                            </span>
                        </div>
                        <div class="iniciar-matricula">
                            <div style="font-size: 14px;" class="text-center">
                                <div class="header-iniciar-matricula">
                                </div>
                                <div class="mt-3">
                                    <span>
                                        Ciclo Febrero 2020
                                    </span>
                                </div>
                                <hr style="background-color: white;" />
                                <div class="mb-1">
                                    <span class="mr-2">
                                        Fecha actual:
                                    </span>
                                    03/02/2020
                                    <br />
                                    <span class="mr-2">
                                        Hora actual:
                                    </span>
    
                                    11:16 a. m.
    
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn-iniciar-matricula" (click)="goMatricular()">
                                    <i class="mdi mdi-clock-check-outline"></i> Iniciar Matrícula
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 mb-4">
                <div>
                    <span>
                        <b>Pagos realizados</b>
                    </span>
                    <div *ngIf="pagosRealizados?.length" style="font-size: 14px;">
                        <span>
                            Tienes pagos disponibles para usar.
                            <hr />
                        </span>
                    </div>
                    <div *ngIf="!pagosRealizados?.length">
                        <span style="font-size: 13px;">
                            No tienes pagos realizados en el Banco.
                        </span>
                    </div>
                    <div *ngIf="pagosRealizados?.length" style="height: 450px; overflow-y: auto;">
                        <div class="pago-realizado" *ngFor="let pagos of pagosRealizados">
                            <table class="table-responsive">
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="assets/logo/banco-pichincha.PNG" width="48"
                                                style="margin-right: 5px; margin-top: 10px;">
                                        </td>
                                        <td>
                                            <span><b>Fecha de pago</b></span> <br />
                                            {{pagos.fecha}} 10:02 a. m.
                                        </td>
                                        <td rowspan="2">
                                            <button class="btn-disponible">
                                                Disponible
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td> <span><b>Descripción</b></span><br />
                                            <span class="mr-3">{{pagos.descripcion}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="section-matricula">
                    <span>
                        <b>Información de Matrícula</b>
                    </span>
                    <div style="font-size: 14px;">
                        <span>
                            Detalles sobre el proceso de matrícula.
                            <hr />
                        </span>
                    </div>
                    <div style="font-size: 14px;">
                        <table class="table-hover" table-responsive>
                            <tbody>
                                <tr>
                                    <td>
                                       <div class="p-2">
                                        <span>
                                            <i class="mdi mdi-credit-card-outline" style="font-size: 18px;"></i>
                                            Concepto de
                                            pago
                                            <br />
                                            Escoge el concepto de pago sobre el monto a pagar en el Banco.
                                        </span>
                                       </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="p-2">
                                            <span>
                                                <i class="mdi mdi-bank" style="font-size: 18px;"></i>
                                                Banco Pichincha
                                                <br />
                                                Ir al banco más cercano para tu comodidad, y realizar el pago de acuerdo al monto indicado en el concepto de pago.
                                            </span>
                                           </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="p-2">
                                            <span>
                                                <i class="mdi mdi-alarm" style="font-size: 18px;"></i>
                                                Esperar
                                                <br />
                                               Una vez realizado el pago, espera un rango de 12 horas como máximo.
                                            </span>
                                           </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="p-2">
                                            <span>
                                                <i class="mdi mdi-alarm" style="font-size: 18px;"></i>
                                                Matricularse
                                                <br />
                                               Se habilitará la matrícula para el presente ciclo, selecciona el curso y su horario respectivo.
                                            </span>
                                           </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>