.btn-iniciar-matricula {
    background-color: #f5f5f5;
    border: 0px;
    cursor: pointer;
    color: black;
    font-size: 13px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: solid 3.5px;
}

.btn-iniciar-matricula:hover{
    background-color: #c2c2c2;
}

.btn-iniciar-matricula:active {
    background-color: #ffffff;
}

.pago-realizado {
    margin-top: 2px;
    font-size: 13px;
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.pago-realizado:hover{
    background-color: rgb(219, 219, 219);
}

.btn-disponible {
    background-color: #04a783;
    border: 0px;
    cursor: pointer;
    color: white;
    font-size: 11px;
    margin: 5px;
    padding: 6px;
    border-radius: 2px;
    width: 85px;
    height: 85px;
}

.btn-disponible:hover{
    background-color: #03795f;
}

.iniciar-matricula {
    margin-top: 2px;
    font-size: 13px;
    width: 100%;
    color: white;
    background-color: #096ac6;
    border-radius: 8px;
    padding-bottom: 5px;
    border: solid 1px;
}

.header-iniciar-matricula{
    background-color: #004095;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 4px;
}

.title-ciclo{
    color: black;
    padding: 5px;
    margin-top: 5px;
    border-radius: 8px;
    border: solid 1px;
    border-color:#096ac6; 
}