<div class="row m-0 display-show">
    <div class="col-md-4 col-sm-4 col-4 text-center p-1 oink" style="color: #f44336">
        <i class="mdi mdi-border-color" style="font-size: 25px; "></i><br />
        <span class="f-11">REGISTRAR</span>
    </div>
    <div class="col-md-4 col-sm-4 col-4 text-center p-1 oink" style="color: #4caf50">
        <i class="mdi mdi-account-tie" style="font-size: 25px; "></i><br />
        <span class="f-11">INVITADO</span>
    </div>
    <div class="col-md-4 col-sm-4 col-4 text-center p-1 oink">
        <i class="mdi mdi-restart" style="font-size: 25px; color: #212121;"></i>
        <br />
        <span class="f-11">PRINCIPAL</span>
    </div>
</div>