html, body {
height: 100%;
}

.f-11 {
    font-size: 11px;
}

.f-12 {
    font-size: 12px;
}


.f-13 {
    font-size: 13px;
}

.f-15 {
    font-size: 15px
}
.f-16 {
    font-size: 16px
}


.f-title{
    font-size: 3vw;
}

.f-subtitle {
    font-size: 1.2vw;
}
.f-18{
    font-size: 18px;
}

.f-grey {
    color: grey;
}

.f-white {
    color: white;
}