.background-login-center {
    background-image: url(~/assets/background/background-login.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.height-100 {
    height: 100%;
}

.background-login-white{
    height: 75%;
    background-color: white;
    width: 88%;
    border-radius: 8px;
    box-shadow: 20px 35px 15px;
}

.background-login-lighblue{
    height: 105%;
    margin-top: -10px;
    background-color: #096ac6;
}

.primary-color {
 color: #096ac6;
}

.btn-login {
    background-color: #096ac6;
    border-radius: 12px;
    color: white;

}

.btn-register:hover{
    color: rgb(63, 63, 63);
}

.btn-register {
    background-color: none;
    border-radius: 12px;
    color: rgb(116, 116, 116);

}

.btn-login:hover{
    background-color: #3f85c7;
}


@media screen and (max-width: 996px) {
    .display-none{
        display:none;
    }
}