<div class="background-login-center center-content">
    <div class="background-login-white">
        <div class="row  height-100">
            <div class="col-lg-5 center-content">
                <div>
                    <div class="text-center">
                        <img src="assets/logo/logo-completo.png" width="200"/>
                        <br />
                        <span class="f-13 f-grey ml-5 mr-5">Sistema de Matrícula Online</span>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div>
                        <label class="f-15"><i class="mdi mdi-account f-18 primary-color"></i>Usuario</label>
                        <input type="text" class="form-control form-control-sm" />
                    </div>
                    <div class="mt-3">
                        <label class="f-15">
                            <i class="mdi mdi-key-variant f-18 primary-color"></i>
                            Contraseña</label>
                        <input type="text" class="form-control form-control-sm" />
                    </div>
                    <div class="text-center mt-3">
                        <button  class="btn btn-login btn-block">
                            Ingresar al sistema
                        </button>
                    </div>
                    <hr>
                    <div id="register" (click)="onIngresar()" >
                        <a>Don't have an account? REGISTER HERE</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-5 background-login-lighblue center-content">
                <div>
                    <div class="text-center p-5">
                        <img src="assets/logo/logo-escudo-sm-white.png" style="width: 80%;" />
                        <br />
                        <span class="f-title f-white">Centro de Idiomas</span> <br />
                        <span class="f-subtitle f-white">FACULTAD DE LETRAS Y CIENCIAS HUMANAS</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 center-content">
                <div>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="assets/logo-language/ingles.svg" style="width: 100%;" />
                        </div>
                        <div class="col-lg-6">
                            <img src="assets/logo-language/italiano.svg" style="width: 100%;" />
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="assets/logo-language/quechua.svg" style="width: 100%;" />
                        </div>
                        <div class="col-lg-6">
                            <img src="assets/logo-language/aleman.svg" style="width: 100%;" />
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="assets/logo-language/coreano.svg" style="width: 100%;" />
                        </div>
                        <div class="col-lg-6">
                            <img src="assets/logo-language/frances.svg" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="assets/logo-language/portugues.svg" style="width: 100%;" />
                        </div>
                        <div class="col-lg-6">
                            <img src="assets/logo-language/japones.svg" style="width: 100%;" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>