<div class="background-login-center center-content display-h-none">
    <div class="background-login-white display-h-none display-w-none">
        <div class="row height-100">

            <div class="col-lg-5 col-md-6 col-sm-12 col-12 center-content" style="margin-right:  -25px;">
                <div>
                    <div class="">
                        <div class="text-center">
                            <img src="assets/logo/logo-completo.png" width="200" />
                            <br />
                            <span class="f-13 f-grey ml-5 mr-5">Sistema de Matrícula Online</span>
                        </div>
                        <br />
                        <br />
                        <div>
                            <label class="f-15"><i class="mdi mdi-account f-18 primary-color"></i>Usuario</label>
                            <input type="text" class="form-control form-control-sm" />
                        </div>
                        <div class="mt-3">
                            <label class="f-15">
                                <i class="mdi mdi-key-variant f-18 primary-color"></i>
                                Contraseña</label>
                            <input type="text" class="form-control form-control-sm" />
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-login btn-block">
                                Ingresar al sistema
                            </button>
                        </div>
                        <div class="text-center mt-1">
                            <button class="btn text-center btn-register" (click)="onIngresar()">
                                me olvidé la contraseña
                            </button>
                        </div>
                        <div class="text-center mt-3 display-show">
                            <button class="btn btn-register-s btn-block">
                                Registrarme
                            </button>
                        </div>
                    </div>
                    <br/>
                    <div class="row display-show">
                        <div class="col-md-4 col-sm-4 col-4 text-center p-1 oink" style="color: #f44336">
                            <i class="mdi mdi-border-color" style="font-size: 3vw;"></i><br/>
                            <span class="f-11">REGISTRAR</span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 text-center p-1 oink" style="color: #4caf50">
                            <i class="mdi mdi-account-tie" style="font-size: 3vw;"></i><br/>
                            <span class="f-11">INVITADO</span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 text-center p-1 oink">
                            <i class="mdi mdi-restart" style="font-size: 3vw; color: #212121;"></i>
                            <br/>
                            <span class="f-11">PRINCIPAL</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-5 col-md-6 col-6 display-none-blue">
                <div class="background-login-lighblue center-content" style="width: 93%;">
                    <div class="text-center">
                        <img src="assets/logo/logo-escudo-sm-white.png" style="width: 82%;" />
                        <br />
                        <span class="f-title f-white">Centro de Idiomas</span> <br />
                        <span class="f-subtitle f-white">FACULTAD DE LETRAS Y CIENCIAS HUMANAS</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 center-content display-none" style="margin-left: -35px;">
                <div>
                    <div class="row mb-4 mt-4 section-border">
                        <div class="col-lg-4 center-content">
                            <i class="mdi mdi-border-color primary-color" style="font-size: 2.9vw;"></i>
                        </div>
                        <div class="col-lg-8" style="font-size: 0.71vw;">
                            <h6 class="primary-color" style="font-size: 1vw;">
                                REGISTRARME
                            </h6>
                            <div>
                                <span>Solicitar una cuenta del Centro de Idiomas</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 mt-4 section-border">
                        <div class="col-lg-4  center-content">
                            <i class="mdi mdi-account-tie primary-color" style="font-size: 2.9vw; color: #f44336;"></i>
                        </div>
                        <div class="col-lg-8" style="font-size: 0.71vw;">
                            <h6 style="font-size: 1vw; color: #f44336;">
                                INVITADO
                            </h6>
                            <span>Ingresar como invitado al sistema</span>
                        </div>
                    </div>
                    <div class="row mb-4 mt-4 section-border">
                        <div class="col-lg-4  center-content">
                            <i class="mdi mdi-flag-outline primary-color" style="font-size: 2.9vw; color: #4caf50;"></i>
                        </div>
                        <div class="col-lg-8" style="font-size: 0.71vw;">
                            <h6 class="primary-color" style="font-size: 1vw; color: #4caf50;">
                                IDIOMAS
                            </h6>
                            <span>Cursos e idiomas que se dictan</span>
                        </div>
                    </div>
                    <div class="row mb- mt-4 section-border">
                        <div class="col-lg-4 center-content">
                            <i class="mdi mdi-restart primary-color" style="font-size: 2.9vw; color: #212121;"></i>
                        </div>
                        <div class="col-lg-8" style="font-size: 0.71vw;">
                            <h6 style="font-size: 1vw; color: #212121;">
                                PRINCIPAL
                            </h6>
                            <span>Volver a la página del Centro de Idiomas</span>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-12 f-grey text-center center-content">
                            <i class="mdi mdi-information-outline"></i>
                            <span class="f-12">Más información</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>