.background-login-center {
    background-image: url(~/assets/background/background-login.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.height-100 {
    height: 100%;
}

.background-login-white{
    height: 80%;
    background-color: white;
    width: 88%;
    border-radius: 8px;
    box-shadow: 20px 20px 15px;
}

.background-login-lighblue{
    height: 105%;
    margin-top: -2.7%;
    background-color: #096ac6;
}

.primary-color {
 color: #096ac6;
}

.btn-login {
    background-color: #096ac6;
    border-radius: 12px;
    color: white;

}

.btn-register:hover{
    color: rgb(63, 63, 63);
}

.btn-register {
    background-color: none;
    border-radius: 12px;
    color: rgb(116, 116, 116);

}

.btn-login:hover{
    background-color: #3f85c7;
}


.btn-register-s {
    background-color: #272727;
    border-radius: 12px;
    color: white;

}

.btn-register-s:hover{
    background-color: #000000;
}

@media screen and (max-width: 991px) {
    .display-none{
        display:none;
    }
}

@media screen and (min-width: 992px) {
    .display-show{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .display-none-blue{
        display:none;
    }
}

@media screen and (max-width: 767px) {
    .display-none-section{
        display:none;
    }
}

@media screen and (max-height: 660px){
    .display-h-none{
        height: 100%;
        background-color: white;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 0px 0px;
    }
}

@media screen and (max-width: 500px){
    .display-w-none{
        height: 100%;
        background-color: white;
        width: 100%;
        border-radius: 0px;
        box-shadow: 0px 0px 0px;
    }
}


.section-border{
    padding-top: 5px;
    padding-bottom: 5px;
}
.section-border:hover {
    background: rgb(231, 230, 230);
    border-radius: 8px;
    cursor: pointer;
}

.oink{
    border-radius: 8px;
    cursor: pointer;
}

.oink:hover{
    border-style: solid;
    border-width: 1px;
}
