.background-login-center {
    background-color: #096ac6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.height-100 {
    height: 100%;
}

.background-login-white{
    height: 80%;
    background-color: white;
    width: 88%;
    border-radius: 8px;
    box-shadow: 20px 20px 15px;
}

.btn-login {
    background-color: #096ac6;
    border-radius: 0px;
    color: white;
    font-weight: lighter;
}

.btn-register:hover{
    color: rgb(63, 63, 63);
}

.btn-register {
    font-size: 13.5px;
    background-color: none;
    border-radius: 12px;
    color: rgb(0, 0, 0);
}

.btn-login:hover{
    background-color: #3f85c7;
}


.btn-register-s {
    background-color: #272727;
    border-radius: 0px;
    color: white;
    font-weight: lighter;
}

.btn-register-s:hover{
    background-color: #000000;
}

@media screen and (max-width: 991px) {
    .display-none{
        display:none;
    }
}

@media screen and (min-width: 992px) {
    .display-show{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .display-none-blue{
        display:none;
    }
}

@media screen and (max-width: 767px) {
    .display-none-section{
        display:none;
    }
}

@media screen and (max-height: 660px){
    .display-h-none{
        height: 100%;
        background-color: white;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 0px 0px;
    }
}

@media screen and (max-width: 500px){
    .display-w-none{
        height: 100%;
        background-color: white;
        width: 100%;
        border-radius: 0px;
        box-shadow: 0px 0px 0px;
    }
}

.oink{
    cursor: pointer;
}

.oink:hover{
    background: rgb(238, 237, 237);
}
