
        <div class="header-user-list mb-2">
            <button class="btn-nuevo ml-1 mr-1" (click)="crear()">
                <i class="mdi mdi-plus-box-multiple-outline f-16"></i> Crear Aula
            </button>
            <button type="button" class="btn-nuevo ml-1 mr-1" (click)=" cancelar()">
                <i class="mdi mdi-close-circle f-16"></i> Cancelar
            </button>
        </div>
        
        <div *ngIf="load" class="div-loading my-5"><img class="loading" src="{{loading}}" /></div>
        <span *ngIf="empty" class="not-complete ml-3" style="    color: red;">
            {{successText}} <br /></span>
        
            <h5 class="modal-title ml-3" style=" color: #317bbc;">Formulario Registro de Aula </h5>
            <hr>


            <div class="row">
                <div class="col-md-6">
                <div class="form-group row mx-3">
                    <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                        <i class="mdi mdi-domain f-16"></i> Aula</label>
                    <div class="col-sm-10">
                        <input name="nomAula" [(ngModel)]="aula.nomAula" type="text" class="form-control"  placeholder="Ingrese el identificador de un Aula">
                    </div>
                </div>
                <div class="form-group row mx-3">
                    <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;"> 
                        <i class="mdi mdi-home-modern f-16"></i>  Sede</label>
                        <div class="col-sm-10 ">
                            <select class="form-control form-control-sm" [(ngModel)]="selectedTypeIdSede">
                                <option [ngValue]="0">Seleccionar la Sede</option>
                                <option [ngValue]="sede.csede" *ngFor="let sede of sedes">{{sede.nomSede}}
                                </option>
                            </select>
                        </div>
                </div>
            </div>
                <div class="col-md-6">

                    <div class="form-group row mx-3">
                        <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;"
                       >
                            <i class="mdi mdi-view-module f-16"></i>  Referencia Aula</label>
                        <div class="col-sm-12">
                            <textarea name="refAula "[(ngModel)]="aula.refAula"   placeholder="Ingrese una Referencia de la ubicación del Aula"
                             class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
              </div>
