<div class="simi-bg-header mt-5 pt-3" style=" display: flex; align-items: center; font-weight: lighter;">
    <span>
        <i class="mdi mdi-account-multiple ml-2 f-15 "></i>
        Mi perfil
        <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>

        <span style="font-size: 15px;">
            <i class="mdi mdi-account f-15"></i> 
            Cuenta de usuario</span>
    </span>
</div>
<div>
    <div class="simi-card">
        <div class="row">
            <div class="col-lg-2 col-md-2">

            </div>
            <div class="col-lg-8 col-md-2">
                <div class="text-center">
                    <h3>Mi Simi</h3>
                    <hr/>
                </div>
               <div class="text-center">
                <div class="simi-bg-gray-circle">
                </div>
               </div>
               <div class="text-center">
                <button class="btn simi-btn-silver">Cambiar Foto</button>
               </div>
               <div clas="mt-2">
                    
               </div>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
    </div>
</div>