<div style="background-color: #e9ebee; height: 100%;">
    <div class="pb-3 font-weight-light" style="padding-top: 54px;">
        <div class="bg-header" style=" display: flex; align-items: center;">
            <span class="ml-3">
                <i class="mdi mdi-account-multiple f-15 "></i>
                Mi perfil
                <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>

                <span style="font-size: 15px;">
                    <i class="mdi mdi-account f-15"></i> 
                    Cuenta de usuario</span>
            </span>
        </div>
        <div class="row m-0">
            <div class="col-lg-6" style="position: relative;margin: 0px !important; padding: 0px !important;">

            </div>
            <div class="col-lg-6">
            </div>
        </div>

    </div>

</div>