<div class="simi-header" style="font-weight: lighter;">
    <button 
    class="btn simi-btn-primary ml-2 mr-1" (click)="importarPagos()">
    <i class="mdi mdi-upload mr-1"></i>
    Importar pagos
</button> 
</div>
<div *ngIf="load" class="div-loading">
    <img class="loading" src="{{loading}}" /></div>

<div class="simi-card">
    <div *ngIf="vouchers?.length === 0 || error">
        <span style="font-size: 14.5px;">{{info}}</span>
    </div>
    <div *ngIf="vouchers?.length !== 0 && !load && !error" class="table-responsive text-center">
        <table class="table table-hover table-borderless table-sm" style="font-size: 14px;">
            <thead>
                <tr>
                    <td>Nro.</td>
                    <td>Documento</td>
                    <td>Concepto</td>
                    <td>Secuencia</td>
                    <td>Descripción</td>
                    <td>Importe</td>
                    <td>Estado</td>
                </tr>
                <tr><td colspan="7"><hr/></td></tr>
            </thead>
            <tbody>
                <tr *ngFor="let pago of vouchers; let i = index">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        {{pago.nroDocumento}}
                    </td>
                    <td>
                        {{pago.codigo}}
                    </td>
                    <td>
                        {{pago.secuencia}}
                    </td>
                    <td>
                        {{pago.descripcion}}
                    </td>
                    <td>
                       S./ {{pago.importe}}.00
                    </td>
                    <td>
                        <button class="btn" [ngClass]="pago.estado ? 'simi-btn-primary' : 'simi-btn-silver'">
                            {{pago.estado ? 'Usado' : 'No usado'}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>