<div class="simi-header" style="font-weight: lighter;">
    <button 
    class="btn simi-btn-primary ml-2 mr-1" (click)="importarPagos()">
    <i class="mdi mdi-upload mr-1"></i>
    Importar pagos
</button> 
</div>

<div class="simi-card">
    <div *ngIf="pagos?.length === 0">
        <span style="font-size: 14px;">No hay registro de pagos</span>
    </div>
    <div *ngIf="pagos?.length !== 0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Codigo</td>
                    <td>Secuencia</td>
                    <td>Descripción</td>
                    <td>Documento</td>
                    <td>Importe</td>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let pago of pagos">
                    <td>
                        {{pago.cod}}
                    </td>
                    <td>
                        {{pago.sec}}
                    </td>
                    <td>
                        {{pago.descripcion}}
                    </td>
                    <td>
                        {{pago.nrodocumento}}
                    </td>
                    <td>
                        {{pago.importe}}
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>