        <div class="header-user-list mb-2">
            <button class="btn-nuevo ml-1 mr-1" (click)="guardar()">
                <i class="mdi mdi-plus-box-multiple-outline f-16"></i>Guardar
            </button>
            <button type="button" class="btn-nuevo ml-1 mr-1" (click)=" cancelar()">
                <i class="mdi mdi-close-circle f-16"></i> Cancelar
            </button>
        </div>
    
        <div *ngIf="load" class="div-loading my-5"><img class="loading" src="{{loading}}" /></div>
        <span *ngIf="empty" class="not-complete ml-3" style="    color: red;">
            {{successText}} <br /></span>
            <br>
            <h5 class="modal-title ml-3" style=" color: #317bbc;">Datos Personales y Académicos </h5>
            
            <hr>
    
          
            <div class="row ml-2  mr-2">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                            Nombre</label>
                        <div class="col-sm-12">
                            <input name="nombre" [(ngModel)]="docente.nombre" type="text" class="form-control"  placeholder="Ingrese su Nombre">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                <div class="form-group row ">
                    <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                        Apellido Paterno</label>
                    <div class="col-sm-12">
                        <input name="apellidoPat" [(ngModel)]="docente.apellidoPat" type="text" class="form-control" placeholder="Ingrese su  Apellido Paterno">
                    </div>
                </div>
            </div>
                <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                        Apellido Materno</label>
                    <div class="col-sm-12">
                        <input name="apellidoMat" [(ngModel)]="docente.apellidoMat" type="text" class="form-control" placeholder="Ingrese su  Apellido Materno" >
                    </div>
                </div>
            </div>
        </div>
        <div class="row ml-2  mr-2">
            <div class="col-md-3">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                        DNI</label>
                    <div class="col-sm-12">
                        <input name="dni" [(ngModel)]="docente.dni" type="number" class="form-control" placeholder="Ingrese su DNI">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            <div class="form-group row">
                <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                    Género</label>
                <div class="col-sm-12">
                    <select class="form-control form-control-sm" [(ngModel)]="selectedTypeIdGenero">
                        <option [ngValue]="0">Femenino</option>
                        <option [ngValue]="1">Masculino</option>
                    </select>         
                   </div>
            </div>
        </div>
            <div class="col-md-3">
                <div class="form-group row ">
                    <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                        Edad</label>
                    <div class="col-sm-12">
                        <input name="edad" [(ngModel)]="docente.edad" type="number" class="form-control"  placeholder="Ingrese su  Edad">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                        F. Nacimiento</label>
                    <div class="col-sm-12">
                        <input name="fechaNacimiento" [(ngModel)]="docente.fechaNacimiento" type="date" class="form-control" placeholder="Ingrese su  F. Nacimiento" >
                    </div>
                </div>
            </div>
    </div>
    
    <div class="row ml-2  mr-2">
        <div class="col-md-3">
            <div class="form-group row">
                <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                    Dirección</label>
                <div class="col-sm-12">
                    <input name="address" [(ngModel)]="docente.address" type="text" class="form-control"  placeholder="Ingrese su Dirección">
                </div>
            </div>
        </div>
        <div class="col-md-3">
        <div class="form-group row">
            <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                Celular</label>
            <div class="col-sm-12">
                <input name="phone" [(ngModel)]="docente.phone" type="text" class="form-control"  placeholder="Ingrese su Celular" >
            </div>
        </div>
    </div>
    <!-- <div class="col-md-3">
        <div class="form-group row">
            <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                Email</label>
            <div class="col-sm-12">
                <input name="docente" [(ngModel)]="docente.email" type="text" class="form-control"  placeholder="Ingrese su correo">
            </div>
        </div>
    </div> -->
        <div class="col-md-3">
            <div class="form-group row ">
                <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                    Nacionalidad</label>
                <div class="col-sm-12">
                    <input name="nacionalidad" [(ngModel)]="docente.nacionalidad" type="text" class="form-control" placeholder="Ingrese su Nacionalidad" >
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group row">
                <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                    Universidad de Estudios</label>
                <div class="col-sm-12">
                    <input name="university" [(ngModel)]="docente.university" type="text" class="form-control"  placeholder="Ingrese su Universidad de Estudios">
                </div>
            </div>
        </div>
       
    </div>
    <br>
    <h5 class="modal-title ml-3" style=" color: #317bbc;">Datos de Docente </h5>
            <hr>
    <div class="row ml-2  mr-2">
        <!-- <div class="col-md-4">
            <div class="form-group row">
                <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                    Código Docente</label>
                <div class="col-sm-12">
                    <input name="university" [(ngModel)]="docente.university" type="text" class="form-control"  placeholder="DOC00001"  >
                </div>
            </div>
        </div> -->
    
       
        <div class="col-md-6">
        <div class="form-group row">
            <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
             Rol</label>
            <div class="col-sm-12">
                <select class="form-control form-control-sm" [(ngModel)]="selectedTypeIRol">
                    <option [ngValue]="0">Rol de Usuario</option>
                    <option [ngValue]="2">Docente</option>
                    <!-- <option [ngValue]="1">Masculino</option> -->
                    <!-- <option [ngValue]="sede.csede" *ngFor="let docente of sedes">{{sede.nomSede}} -->
                </select>
            </div>
        </div>
    </div>
     
        <div class="col-md-6">
        <div class="form-group row">
            <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                Departamento </label>
            <div class="col-sm-12">
                <select class="form-control form-control-sm" [(ngModel)]="selectedTypeIdDepartamento">
                    <!-- <option [ngValue]="">Departamento de pertenencia </option> -->
                    <option value="Portugues">Portugues</option>
                    <option value="Frances">Frances</option>
                    <option value="Ingles">Ingles</option>
                    <option value="Quechua">Quechua</option>
                    <option value="Aleman">Aleman</option>
                    <!-- <option [ngValue]="1">Masculino</option> -->
                    <!-- <option [ngValue]="sede.csede" *ngFor="let docente of sedes">{{sede.nomSede}} -->
                </select>
            </div>
        </div>
    </div>
    
    
       
    </div>
    
    <br>
    <h5 class="modal-title ml-3" style=" color: #317bbc;">Datos de Usuario </h5>
    <hr>
    
    <div class="row ml-2  mr-2">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                    <i class="mdi mdi-emailf-16"></i> Email</label>
                <div class="col-sm-12">
                    <input name="email" [(ngModel)]="docente.email" type="text" class="form-control"  placeholder="Ingrese su e-mail">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                    <i class="mdi mdi-key f-16"></i> Contraseña</label>
                <div class="col-sm-12">
                    <input name="contrasenia" [(ngModel)]="docente.contrasenia" type="password" class="form-control"  placeholder="Ingrese su contraseña">
                </div>
            </div>
        </div>
    <!-- <div class="col-md-4">
        <div class="form-group row">
            <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                <i class="mdi mdi-key-plus f-16"></i> Confirmación de Contraseña</label>
            <div class="col-sm-12">
                <input name="contrasenia" [(ngModel)]="docente.contrasenia" type="password" class="form-control"  placeholder="Confirme su contraseña">
            </div>
        </div>
    </div> -->
       
    </div>
               
               
    <br><br><br><br><br>