<div class="simi-card" style="font-weight: normal;">
    <div>
        <h5>{{datos.title}}
            <i class="mdi mdi-view-dashboard" style="font-size: 25px;"></i></h5>
        <span style="color: #d80027; font-size: 20px;"><b>{{datos.total}}</b></span>
        <p style="font-size: 14px;">
            {{datos.description}}
        </p>
        <button class="btn simi-btn-primary mr-2">
            <i class="mdi f-15" [ngClass]="datos.icon"></i> {{datos.btnName}}
        </button>
    </div>
</div>