<h1>Plan de estudio - Centro de idiomas</h1>

<div id="container">
    <table>
        <thead>
            <tr class="head">
                <th>Idioma</th>
                <th>Nivel</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tr class="idioma">
            <td rowspan="4">Inglés</td>
        </tr>
        <tr>
            <td>Básico</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Intermedio</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Avanzado</td>
            <td>08</td>
        </tr>
        <tr class="idioma">
            <td rowspan="4">Portugués</td>
        </tr>
        <tr>
            <td>Básico</td>
            <td>05</td>
        </tr>
        <tr>
            <td>Intermedio</td>
            <td>04</td>
        </tr>
        <tr>
            <td>Avanzado</td>
            <td>03</td>
        </tr>
        <tr class="idioma">
            <td rowspan="4">Francés</td>
        </tr>
        <tr>
            <td>Básico</td>
            <td>04</td>
        </tr>
        <tr>
            <td>Intermedio</td>
            <td>08</td>
        </tr>
        <tr>
            <td>Avanzado</td>
            <td>04</td>
        </tr>
        <tr class="idioma">
            <td rowspan="4">Italiano</td>
        </tr>
        <tr>
            <td>Básico</td>
            <td>06</td>
        </tr>
        <tr>
            <td>Intermedio</td>
            <td>03</td>
        </tr>
        <tr>
            <td>Avanzado</td>
            <td>03</td>
        </tr>
        <tr class="idioma">
            <td rowspan="4">Quechua</td>
        </tr>
        <tr>
            <td>Básico</td>
            <td>06</td>
        </tr>
        <tr>
            <td>Intermedio</td>
            <td>06</td>
        </tr>
        <tr>
            <td>Avanzado</td>
            <td>04</td>
        </tr>
        <tr class="idioma">
            <td rowspan="4">Alemán</td>
        </tr>
        <tr>
            <td>Básico</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Intermedio</td>
            <td>06</td>
        </tr>
        <tr>
            <td>Avanzado</td>
            <td>08</td>
        </tr>
        <tr class="idioma">
            <td rowspan="4">Coreano</td>
        </tr>
        <tr>
            <td>Básico</td>
            <td>03</td>
        </tr>
        <tr>
            <td>Intermedio</td>
            <td>05</td>
        </tr>
        <tr>
            <td>Avanzado</td>
            <td>04</td>
        </tr>
        <tr class="idioma">
            <td rowspan="4">Japonés</td>
        </tr>
        <tr>
            <td>Básico</td>
            <td>13</td>
        </tr>
        <tr>
            <td>Intermedio</td>
            <td>09</td>
        </tr>
        <tr>
            <td>Avanzado</td>
            <td>---</td>
        </tr>
    </table>
</div>