<!-- <div class="simi-header">
    <button class="btn simi-btn-primary ml-2 mr-1" (click)="(edit ? editar() : guardarCambios())">
        <i [ngClass]="(edit ? 'mdi-pencil' : 'mdi-plus-box-multiple-outline')" class="mdi f-16"></i> {{btn}}
    </button>
    <span *ngIf="success" class="ml-3 action-success">
        <i class="mdi mdi-check-circle mr-1"></i>
        {{successText}} <br /></span>
    <button *ngIf="!edit" class="btn simi-btn-silver ml-1 mr-1" (click)="cancelar()">
        <i class="mdi mdi-close-circle f-16"></i> Cancelar
    </button>
    <button *ngIf="!edit" class="btn simi-btn-red ml-1 mr-1" (click)="restaurarTodo()">
        <i class="mdi mdi-delete f-16"></i> Restaurar todo
    </button>
</div> -->