<div class="header-user-list mb-2">
    <button type="button" class="btn-nuevo ml-1 mr-1" (click)="eliminar()">
                <i class="mdi mdi-delete f-16"></i> Eliminar
    </button>
    <button class="btn-nuevo ml-1 mr-1" (click)="guardar()">
        <i class="mdi mdi-plus-box-multiple-outline f-16"></i> Guardar
    </button>
    <button type="button" class="btn-nuevo ml-1 mr-1" (click)=" cancelar()">
        <i class="mdi mdi-close-circle f-16"></i> Cancelar
    </button>
</div>
<div *ngIf="load" class="div-loading" style="position:absolute"><img class="loading" src="{{loading}}" /></div>
<span *ngIf="empty" class="not-complete">
        {{successText}} <br /></span>

<div class="ml-3 f-13 mt-2">
    <table>
        <tbody>
            <tr>
                <td>
                    <span class="mr-2">Nombre:</span>
                </td>
                <td>
                    <input name="nombremesa"
                        class="mb-2 form-control input-small form-control-sm" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <span class="mr-2">Apellido Paterno:</span>
                </td>
                <td>
                    <input name="apellidoPaterno"
                        class="mb-2 form-control input-small form-control-sm" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    <span class="mr-2">Apellido Materno:</span>
                </td>
                <td>
                    <input name="apellidoMaterno"
                    class="mb-2 form-control input-small form-control-sm" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    <span class="mr-2">Email:</span>
                </td>
                <td>
                    <input name="email"
                    class="mb-2 form-control input-small form-control-sm" type="text" />
                </td>
            </tr>
        </tbody>
    </table>
</div>