.btn-iniciar-matricula {
    background-color: #096ac6;
    border: 0px;
    cursor: pointer;
    color: white;
    font-size: 13px;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
}

.btn-iniciar-matricula:hover{
    background-color: #15458f;
}

.btn-iniciar-matricula:active {
    background-color: #000000;
}