
    <div class="header-user-list">
        <!-- <button class="btn-nuevo ml-1 mr-1"  (click)="nuevaSede()">
            <i class="mdi mdi-plus-box-multiple-outline f-16"></i> Nueva Sede
        </button> -->
    </div>
    <div class="w-75 mt-3 table-responsive" style="margin: auto;">
        <table class="table table-hover table-bordered">
            <!-- thead-primary -->
            <thead class="header-table " style ="background: #dfe3e7;">
                <tr>
                    <!-- <th style="width: 100px;" class="text-center">Accion</th> -->
                    <td>
                        <div class="center-head">N°</div>
                    </td>
                    <th> 
                        <div class="center-head">Nombre</div>
                    </th>
                    <th>
                        <div class="center-head">Dirección</div>
                    </th>
                    <th>
                        <div class="center-head">Descripción</div>
                    </th>

                </tr>
            </thead>
            <tbody class="header-body">
                    <tr *ngFor="let sede of sedes | filter:busquedaTexto 
            | paginate : {itemsPerPage :4,currentPage : pageActual}; let i = index">
                    <!-- <td >
                        <div class="row">
                                <button class="btn-edit mt-1 ml-3 " style ="background: #27c68f ;" (click)="editarSede(sede.csede)">
                                        <i class="mdi mdi-border-color" style=" color : white ; font-size: 20px; display: inline-block !important;"></i>
                                    </button>
                                    
                                    <button type="button" class="btn-edit mt-1 ml-2" style ="background: #dd2f18 ;" (click)="eliminarSede(sede.csede)">
                                            <i class="mdi mdi-delete  " style="color : white ; font-size: 20px; display: inline-block !important;"></i> 
                                    </button>
    
                        </div>
                    </td> -->
                    <td>
                        <div class="center-body">{{i+1}}</div> 
                    </td>  
                    <td>
                        <div class="center-body"> <span class = " border-bottom  border-primary font-weight-bold badge badge-mark border-blue mr-1 " style="font-size:110%;"> {{sede.nomSede}} </span> </div>
                     </td>
                    <td>
                            <div class="center-body">{{sede.descSede}} </div>
                    </td>
                 
                    <td>
                        <div class="center-body">{{sede.dirSede}} </div>
                  </td> 
                </tr>
            </tbody>

        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>