<div class="simi-card" style="font-weight: lighter;">
    <div class="mb-2">
        <span>Accesos Directos</span>
    </div>
    <div>
        <button class="btn simi-btn-primary mr-2 "   (click)="matricula()"  >  
            <i class="mdi mdi-book-variant-multiple f-15"></i> Matrícula
        </button>
       
        <button class="btn simi-btn-primary mr-2"  (click)="pc()" >   
            <i class="mdi mdi-progress-clock f-15"></i> Programación de cursos
        </button>
        <button class="btn simi-btn-primary mr-2" (click)="estudiantes()" >  
            <i class="mdi mdi-account-multiple f-15"></i> Alumnos
        </button>
        <button class="btn simi-btn-primary mr-2"  (click)="docentes()"  > 
            <i class="mdi mdi-teach f-15"></i> Docentes
        </button>
        <button class="btn simi-btn-primary mr-2" (click)="cicloAcademico()"  >  
            <i class="mdi mdi-book-open-variant f-15"></i> Ciclo Académico
        </button>
        <button class="btn simi-btn-primary mr-2" (click)="reportes()">  
            <i class="mdi mdi-clipboard-file f-15"></i> Reportes Institucionales
        </button>
    </div>
</div>