<div style="height: 92%;">
    <mat-sidenav-container class="sidenav-container" style="height: 100%;">
        <mat-sidenav #snav [mode]="mobile.matches ? 'over' : 'side'" [fixedInViewport]="mobile.matches"
            style="background: #e9ebee; width: 280px;">
            <div class="section-matricula">
                <div>
                    <span style="font-size: 14px;">
                        Filtrar por sedes
                    </span>
                    <hr class="mt-1" />
                    <div class="section-filtro">
                        <mat-checkbox class="oink">Ciudad Universitaria</mat-checkbox><br />
                        <mat-checkbox class="oink">San Juan de Lurigancho</mat-checkbox>
                    </div>
                </div>
                <div class="mt-4">
                    <span style="font-size: 14px;">
                        Filtrar por Idioma
                    </span>
                    <hr class="mt-1" />
                    <div class="section-filtro">
                        <mat-checkbox class="oink">Inglés</mat-checkbox><br />
                        <mat-checkbox class="oink">Francés</mat-checkbox><br />
                        <mat-checkbox class="oink">Portugués</mat-checkbox><br />
                        <mat-checkbox class="oink">Alemán</mat-checkbox><br />
                    </div>
                </div>
                <div class="mt-4">
                    <span style="font-size: 14px;">
                        Filtrar por Nivel
                    </span>
                    <hr class="mt-1" />
                    <div class="section-filtro">
                        <mat-checkbox class="oink">Básico</mat-checkbox><br />
                        <mat-checkbox class="oink">Intermedio</mat-checkbox><br />
                        <mat-checkbox class="oink">Avanzado</mat-checkbox><br />
                    </div>
                </div>
                <button class="btn-aplicar" (click)="snav.toggle()  ">
                    Aplicar
                </button>
            </div>
            
        </mat-sidenav>
        <mat-sidenav-content  class="header-matricular">
            <div>
                <div class="ml-3 mr-3 mt-3">
                    <span class="title-module">
                        <i class="mdi mdi-application mr-1" style="font-size: 22px;"></i>Matrícula Online
                    </span>
                    -
                    <span>
                        <b>Matricular</b>
                    </span>
                </div>

                <hr class="mt-1" />
                <div>
                    <button (click)="snav.toggle()" class="btn-filter">
                        <i class="mdi mdi-chart-donut-variant"></i>
                    </button>

                </div>
            </div>

            <div style="margin-right: 80px; margin-left: 80px; margin-top: -50px;">
                <div class="text-center">
                    <h4>Matrícula Online</h4>
                    <span>Ciclo Febrero 2020</span>
                    <div style="font-size: 14px;"><b>05/02/2020</b></div>
                </div>

                <div class=" mt-5 row">
                    <div class="col-lg-3 col-md-3 col-sm-6 mb-1">
                        <div>
                            <span>Máximo de Cursos:</span>
                            <span class="ml-2"><b>2</b></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 mb-1">
                        <div>
                            <span>Cursos seleccionados:</span>
                            <span class="ml-2"><b>0</b></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">

                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6">
                        <button class="btn-cancel mb-1" (click)="cancelarMatriculaOnline()">
                            <i class="mdi mdi-close-circle"></i>Cancelar
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6">
                        <button class="btn-siguiente" (click)="siguiente()">
                            Siguiente <i class="mdi mdi-skip-next"></i>
                        </button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover text-center table-matricular">
                        <thead class="thead-dark" style=" border: solid 1px #acacac;">
                            <tr>
                                <th></th>
                                <th>Sede</th>
                                <th>Idioma</th>
                                <th>Nivel</th>
                                <th>Docente</th>
                                <th>Matriculados</th>
                                <th>Horario</th>
                            </tr>
                        </thead>
                        <tbody style=" border: solid 1px #acacac;">
                            <tr>
                                <td>
                                    <mat-checkbox class="oink"></mat-checkbox>
                                </td>
                                <td>Ciudad Universitaria</td>
                                <td>Francés</td>
                                <td>Intermedio V</td>
                                <td>Duvan Saenz Falcón</td>
                                <td><button class="btn-none">-</button></td>
                                <td><button class="btn-cancel">Seleccionar Horario</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox class="oink"></mat-checkbox>
                                </td>
                                <td>Ciudad Universitaria</td>
                                <td>Francés</td>
                                <td>Intermedio V</td>
                                <td>Duvan Saenz Falcón</td>
                                <td><button class="btn-matriculados-top">15</button></td>
                                <td><button class="btn-cancel">Seleccionar Horario</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox class="oink"></mat-checkbox>
                                </td>
                                <td>Ciudad Universitaria</td>
                                <td>Francés</td>
                                <td>Intermedio V</td>
                                <td>Duvan Saenz Falcón</td>
                                <td><button class="btn-matriculados-none">5</button></td>
                                <td><button class="btn-cancel">Seleccionar Horario</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox class="oink"></mat-checkbox>
                                </td>
                                <td>Ciudad Universitaria</td>
                                <td>Francés</td>
                                <td>Intermedio V</td>
                                <td>Duvan Saenz Falcón</td>
                                <td><button class="btn-matriculados-empty">0</button></td>
                                <td><button class="btn-cancel">Seleccionar Horario</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>