<div class="header-user-list" style="font-weight: lighter;">
    <i class="mdi mdi-home mr-1 ml-2"></i> <span>Inicio</span>
</div>
<div class="m-3">
    <h4>
        <b>Bienvenido,</b> Duvan Saenz Falcón
    </h4>

    <hr/>
    <div class="row m-0">
        <div class="col-lg-6">
            <div class="section-panel">
                <span>Últimas actualizaciones</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="section-panel">
                <span>Accesos directos</span>
                <hr/>
                <button class="btn btn-dark" (click)="reportePagos()">Reporte de Pagos</button>
            </div>
        </div>
    </div>
</div>