<div class="simi-card" style="font-weight: lighter;">
    <i class="mdi mdi-home mr-1 ml-2"></i>
    <span>Inicio / Simi</span>
</div>
<app-accesos-directo></app-accesos-directo>
<div class="row m-0 p-0">
    <div class="col-lg-6 m-0 p-0" *ngFor="let dato of datos">
        <app-card-main [datos]="dato"></app-card-main>
    </div>
</div>
<div class="simi-card" style="font-weight: lighter;">
    <div class="mb-1">
        <span><b>Últimas actualizaciones</b></span>
    </div>
    <div>
        <p>Simi: Sistema de Matrícula y Administración Académica</p>
        <ul>
            <li>Versión 1.0.0</li>
            <li>Importar Pagos realizados en el Banco</li>
            <li>Administración de Idiomas</li>
            <li>Administración de Cursos</li>
        </ul>
    </div>
</div>