<div class="simi-bg-header" style=" display: flex; align-items: center; font-weight: lighter;">
  <span>
    <i class="mdi mdi-home mr-1 ml-2 f-15"></i>
    Inicio
    <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>
    <span style="font-size: 15px;">
      Simi
    </span>
  </span>
</div>
<div>
  <div class="row m-0">
    <div class="col-lg-4 col-md-6 p-0">
      <app-datos-usuario-feed></app-datos-usuario-feed>
    </div>
    
    <div class="col-lg-4 col-md-6 p-0">
      <app-news></app-news>
    </div>
    <div class="col-lg-1 col-md-12 p-0">
      <app-lenguajes></app-lenguajes>
    </div>
    <div class="col-lg-3 p-0">
      <app-info-matricula></app-info-matricula>
    </div>
  </div>
</div>