<div *ngIf="load" class="center-content" style="height: 100% !important; width: 100% !important;">
  <img src="assets/loading/loading.gif" style="width: 100px;">
  <div>
    <h5>Cargando...</h5>
</div>
</div>
<div *ngIf="!load" class="simi-bg-header mt-5 pt-3" style=" display: flex; align-items: center; font-weight: lighter;">
  <span>
    <i class="mdi mdi-home mr-1 ml-2 f-15"></i>
    Inicio
    <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>
    <span style="font-size: 15px;">
      Simi
    </span>
  </span>
</div>
<div [ngClass]="!load ? 'visible' : 'invisible'">
  <div class="row m-0">
    <div class="col-lg-4 col-md-6 p-0">
      <app-datos-usuario-feed></app-datos-usuario-feed>
    </div>
    <div class="col-lg-4 col-md-6 p-0">
      <app-news></app-news>
    </div>
    <div class="col-lg-1 col-md-12 p-0">
      <app-lenguajes></app-lenguajes>
    </div>
    <div class="col-lg-3 p-0">
      <app-info-matricula></app-info-matricula>
    </div>
  </div>
</div>