<div class="header-user-list" style="font-weight: lighter;">
    <button *ngIf="fileLoaded" class="btn btn-import" (click)="guardar()">
        <i class="mdi mdi-content-save mr-1"></i>
        Guardar
    </button>
    <button class="btn btn-import" (click)="reportPagos()">
        <i class="mdi mdi-close mr-1"></i>
        Cancelar
    </button>
</div>

<div *ngIf="!fileLoaded" style="height: 100%; display: flex; justify-content: center; align-items: center;">
    <div *ngIf="load" class="div-loading"><img class="loading" src="{{loading}}" /></div>
    <ejs-uploader #defaultupload (selected)='onFileRemove($event)' (change)="onSuccess($event)"></ejs-uploader>
</div>
<div *ngIf="fileLoaded" class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Codigo</td>
                <td>Secuencia</td>
                <td>Descripción</td>
                <td>Documento</td>
                <td>Importe</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pago of pagos">
                <td>
                    {{pago.cod}}
                </td>
                <td>
                    {{pago.sec}}
                </td>
                <td>
                    {{pago.descripcion}}
                </td>
                <td>
                    {{pago.nrodocumento}}
                </td>
                <td>
                    {{pago.importe}}
                </td>
            </tr>
        </tbody>
    </table>
</div>