<!-- <div class="mx-5 my-3"> -->

    <div class="header-user-list mb-2">
        <button class="btn-nuevo ml-1 mr-1" (click)="crearIdioma()">
            <i class="mdi mdi-plus-box-multiple-outline f-16"></i> Crear Idioma
        </button>
        <button type="button" class="btn-nuevo ml-1 mr-1" (click)=" cancelar()">
            <i class="mdi mdi-close-circle f-16"></i> Cancelar
        </button>
    </div>

    <div *ngIf="load" class="div-loading my-5"><img class="loading" src="{{loading}}" /></div>
    <span *ngIf="empty" class="not-complete">
        {{successText}} <br /></span>
        <div class="ml-4 mr-4 mt-3 f-13">

            <hr class="mt-1" />
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <span><b>Nombre de Idioma</b> </span>
                    <!-- [(ngModel)]="idioma.nomIdioma"  -->
                    <input type="text" class="form-control form-control-sm mt-1" name="nombre">
                </div>
        
            </div>
            <span><b>Descripción de Idioma</b></span>
            <hr class="mt-1" />
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <span><b>Nombre de Idioma</b> </span>
                    <!-- [(ngModel)]="idioma.descIdioma" -->
                    <input type="text" class="form-control form-control-sm mt-1"  name="descripcion">
                </div>
        
            </div>
         
        
        
        
        </div> 

        <!-- <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 ">
                <form class="bg-form p-4 border rounded-sm">
                    <h4 class="font-weight-bold text-center py-2 bg-title text-white">Formulario</h4>

                    <hr class="mb-4"/>

                    <div class="form-group row mx-3">
                        <label class="col-sm-4 col-form-label text-sm-right">Nombre</label>
                        <div class="col-sm-8">
                            <input name="Idioma" type="text" class="form-control">
                        </div>
                    </div>

                    

                    <div class="form-group row mx-3">
                        <label for="inputEmail3"
                            class="col-sm-4 col-form-label text-sm-right">Descripcion</label>
                        <div class="col-sm-8">
                            <input name="Descripcion" class="form-control" type="text">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div> 

</div>-->