<div class="row m-0">
    <div class="col-lg-6 m-0 p-0">
        <div class="simi-card">
            <div class="table-responsive text-center container mt-2">
                <table class="table table-bordered table-sm">
                    <tbody>
                        <tr>
                            <td class="simi-hover">
                                <div>
                                    <label style="font-size: 13px; color: gray">
                                        Código de Alumno
                                    </label>
                                    <br class="m-0" />
                                    <label class="simi-section-label-blue" style="width: 280px;">
                                        EST00001
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="simi-hover">
                                <div>
                                    <label style="font-size: 13px; color: gray">
                                        Nombres completos
                                    </label>
                                    <br class="mb-1" />
                                    <label class="simi-section-label-blue" style="width: 280px;">
                                        Vasquez Saenz, Nataly Grace
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="simi-hover">
                                <div>
                                    <label style="font-size: 13px; color: gray">
                                        Periodo Académico
                                    </label>
                                    <br class="mb-1" />
                                    <label class="simi-section-label-blue" style="width: 280px;">
                                        2020 - II (FEBRERO)
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 m-0 p-0">
        <div class="simi-card">
            <div class="table-responsive text-center container mt-2">
                <table class="table table-bordered table-sm">
                    <tbody>
                        <tr>
                            <td class="simi-hover">
                                <div>
                                    <label style="font-size: 13px; color: gray">
                                        Documento de Identidad
                                    </label>
                                    <br class="mb-1" />
                                    <label class="simi-section-label-blue" style="width: 280px;">
                                        12345678
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="simi-hover">
                                <div>
                                    <label style="font-size: 13px; color: gray">
                                        Último Idioma / Último Nivel
                                    </label>
                                    <br class="mb-1" />
                                    <label class="simi-section-label-blue" style="width: 280px;">
                                        Inglés Intermedio IV
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="simi-hover">
                                <div>
                                    <label style="font-size: 13px; color: gray">
                                        Fecha y Hora
                                    </label>
                                    <br class="mb-1" />
                                    <label class="simi-section-label-blue" style="width: 280px;">
                                        jueves, 06 de febrero 2020 - 12:45 am
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>