.section-perfil {
    width: 500px;
    margin: 150px auto;
    margin-top: 40px;
    background-color: #ffffff;
}

table {
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    text-align: center;
}

.left {
    text-align: left;
    border-style: none;
}

#container {
    width: 600px;
    margin: 150px auto;
    margin-top: 40px;
}

button {
    background: #00CC99;
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
}

.historial {
    width: 100%;
    text-align: center;
    background-color: white;

}

thead {
    background-color: #096AC6;
    color: white;
}

th {
    padding: 8px;
    border-bottom: rgb(148, 148, 148) solid 1px;
    border-top: rgb(148, 148, 148) solid 1px;
}
#descargar{
    float: right;
    margin-right: 30px;
}
.idioma{
    float: left; 
    margin-bottom: 20px;  
}
tr {
    /* border-radius: 10px; */
    padding: 8px;
    border: rgb(148, 148, 148) solid 1px;
}

.head:hover {
    background-color: #333333;
}

tr:hover {
    background: rgb(238, 236, 236);
}
#aperturar{
    margin-top: 20px;
    float:right;
}