
    <div class="header-user-list">
        <button class="btn-nuevo ml-1 mr-1" (click)="nuevoDocente()">
            <i class="mdi mdi-plus-box-multiple-outline f-16"></i> Nuevo Docente
        </button>
    </div>
    <div class=" form-group row right ml-3" >
        <label  class="col-sm-1  col-form-label">Filtro</label>
        <div class="col-sm-8">
            <input type="text" class="col-sm-10" placeholder="Ingrese su filtro de Búsqueda" [(ngModel)]="busquedaTexto"/>
    
        </div>
      </div>






<div class="w-100 mt-3 table-responsive" style="margin: auto;">
    <table class="table table-hover table-bordered">
        <!-- thead-primary -->
        <thead class="header-table " style ="background: #dfe3e7;">
            <tr>
                
                
                <td>
                    <div class="center-head">DNI</div>
                </td>
                <td>
                    <div class="center-head">Código</div>
                </td>
                <td>
                    <div class="center-head">Nombre Completo</div>
                </td>
               <td>
                    <div class="center-head">Email</div>
                </td>
                <td>
                    <div class="center-head">Departamento</div>
                </td>
                <td style="width: 100px;" class="text-center"></td>


            </tr>
        </thead>
        <tbody class="header-body">
            <tr *ngFor= "let docente of docentesUP | filter:busquedaTexto
            | paginate : {itemsPerPage :10,currentPage : pageActual}; let i = index">
                  <td>
                    <div class="center-body"> <span class = "  border-blue mr-1 " style="font-size:110%;"> {{docente.dni}} </span> </div>
                 </td>
                 <td>
                    <div class="center-body"> <span class = " font-weight-bold badge badge-mark border-blue mr-1 " style="font-size:110%;"> {{docente.codDocente}} </span> </div>
                 </td>
                 <td>
                    <div class="center-body"> <span class = " border-blue mr-1 " style="font-size:110%;"> {{docente.apellidoPat}} {{docente.apellidoMat}}  {{docente.nombre}}  </span> </div>
                 </td>
                 <td>
                    <div class="center-body"> <span class = "  border-blue mr-1 text-muted" style="font-size:110%; font-style: italic;"> 
                        <i class="mdi mdi-email-outline  " style="color : black ; font-size: 20px; display: inline-block !important;"></i> 
                         {{docente.email}} </span> </div>
                 </td>
                 <td>
                    <div class="center-body"> <span class = " border-blue mr-1 " style="font-size:110%;"> {{docente.departamento}} </span> </div>
                 </td>

            <td>
                <div class="row" >
                        <button class="btn-edit mt-1 ml-3 " style ="background: #27c68f ;" (click)="editar(docente.codDocente)">
                                <i class="mdi mdi-border-color" style=" color : white ; font-size: 20px; display: inline-block !important;"></i>
                            </button>
                            
                            <button type="button" class="btn-edit mt-1 ml-2" style ="background: #dd2f18 ;" (click)="eliminar(docente.codDocente)">
                                    <i class="mdi mdi-delete  " style="color : white ; font-size: 20px; display: inline-block !important;"></i> 
                            </button>

                </div>
            </td>
                <!-- <td>
                    <div class="center-body" *ngIf="mesadto.pmcapacidad===1">{{mesadto.pmcapacidad}} persona</div>
                    <div class="center-body" *ngIf="mesadto.pmcapacidad>1">{{mesadto.pmcapacidad}} personas</div>
                </td> -->
            </tr>
        </tbody>

    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

</div>

