<div class="header-user-list mb-2">
    <button class="btn-nuevo ml-1 mr-1" (click)="crear()">
        <i class="mdi mdi-plus-box-multiple-outline f-16"></i> Crear Curso
    </button>
    <button type="button" class="btn-nuevo ml-1 mr-1" (click)=" cancelar()">
        <i class="mdi mdi-close-circle f-16"></i> Cancelar
    </button>
</div>


<div *ngIf="load" class="div-loading my-5"><img class="loading" src="{{loading}}" /></div>
<span *ngIf="empty" class="not-complete ml-3" style="    color: red;">
    {{successText}} <br /></span>

<h5 class="modal-title ml-3" style=" color: #317bbc;">Formulario Registro de Curso </h5>
<hr>


        <div class="row">
            <div class="col-md-6">
            <div class="form-group row mx-3">
                <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;"> 
                    <i class="mdi mdi-library-books f-16"></i>  Idioma</label>
                    <div class="col-sm-10 ">
                        <select class="form-control form-control-sm" [(ngModel)]="selectedTypeIdIdioma">
                            <option [ngValue]="0">Seleccionar el Idioma</option>
                            <option [ngValue]="idioma.idIdioma" *ngFor="let idioma of idiomas">{{idioma.nomIdioma}}
                            </option>
                        </select>
                    </div>
            </div>
        </div>
  
    <div class="col-md-6">

                <div class="form-group row mx-3">
                    <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;"> 
                        <i class="mdi mdi-rotate-right-variant f-16"></i>  Nivel</label>
                        <div class="col-sm-10 ">
                            <select class="form-control form-control-sm" [(ngModel)]="selectedTypeIdNivel">
                                <option [ngValue]="0">Seleccionar el Nivel de Estudio</option>
                                <option [ngValue]="nivel.idNivel" *ngFor="let nivel of niveles">{{nivel.nomNivel}}
                                </option>
                            </select>
                        </div>
                </div>
            </div>
           
          </div>

          <div class="row">
            <div class="col-md-6">
                <div class="form-group row mx-3">
                    <label class="col-sm-12 col-form-label text-sm-left" style=" font-size: 110%;">
                        <i class="mdi mdi-drawing-box f-16"></i> N° Ciclo</label>
                    <div class="col-sm-6">
                        <input name="nomAula" [(ngModel)]="curso.ciclo" type="text" class="form-control"  placeholder="Ingrese el Ciclo del Curso">
                    </div>
                </div>
        </div>
           
          </div>
        

