


<div>
    <div id="descargar">
        <button>Descargar en PDF</button>
    </div>
</div>

<div id="container">
    <div class="idioma">
        <button>INGLÉS</button>
    </div>
    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Nivel</th>
                <th>Docente</th>
                <th>Matriculados</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
    </table>
    <div class="idioma">
        <button>INGLÉS</button>
    </div>
    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Nivel</th>
                <th>Docente</th>
                <th>Matriculados</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
    </table>
    <div class="idioma">
        <button>INGLÉS</button>
    </div>
    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Nivel</th>
                <th>Docente</th>
                <th>Matriculados</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
    </table>
    <div class="idioma">
        <button>INGLÉS</button>
    </div>
    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Nivel</th>
                <th>Docente</th>
                <th>Matriculados</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
    </table>
    <div class="idioma">
        <button>INGLÉS</button>
    </div>
    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Nivel</th>
                <th>Docente</th>
                <th>Matriculados</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
    </table>
    <div class="idioma">
        <button>INGLÉS</button>
    </div>
    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Nivel</th>
                <th>Docente</th>
                <th>Matriculados</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        
    </table>
    <div id="aperturar">
        <td><button class="btn btn-primary btn-sm "  (click)="solicitarApertura()">Solicitar apertura</button></td>
    </div>
</div>