<div>
    <div id="descargar">
        <button>Descargar en PDF</button>
    </div>
</div>

<div id="container">

    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Idioma</th>
                <th>Nivel</th>
                <th>Ciclo</th>
                <th>Docente</th>
                <th>Horario</th>
                <th>Matriculados </th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let programacion of programacion">
                <td>{{programacion.nomIdioma}}</td>
                <td>{{programacion.nomNivel}}</td>
                <td>{{programacion.ciclo}}</td>
                <td>{{programacion.nomDocente}} {{programacion.appatDocente}} {{programacion.apmatDocente}}  </td>
                <td>{{programacion.nomGrupoH}} <br> ({{programacion.horaInicio}} - {{programacion.horaFin}})  </td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
     <!--
    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Nivel</th>
                <th>Docente</th>
                <th>Matriculados</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
    </table>
    
    <div class="idioma">
        <button>INGLÉS</button>
    </div>
    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Nivel</th>
                <th>Docente</th>
                <th>Matriculados</th>
                <th>Horario</th>
            </tr>
        </thead>
        /<tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
    </table>
    <div class="idioma">
        <button>INGLÉS</button>
    </div>
    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Nivel</th>
                <th>Docente</th>
                <th>Matriculados</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
    </table>
    <div class="idioma">
        <button>INGLÉS</button>
    </div>
    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Nivel</th>
                <th>Docente</th>
                <th>Matriculados</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
    </table>
    <div class="idioma">
        <button>INGLÉS</button>
    </div>
    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Nivel</th>
                <th>Docente</th>
                <th>Matriculados</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
    </table>
    <div class="idioma">
        <button>INGLÉS</button>
    </div>
    <table class="hitorial">
        <thead>
            <tr class="head">
                <th>Nivel</th>
                <th>Docente</th>
                <th>Matriculados</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        <tr>
            <td>Básico I</td>
            <td>Gabriela Betorran Diaz</td>
            <td>15</td>
            <td><button class="btn btn-primary btn-sm " >Horario</button></td>
        </tr>
        
    </table>
    -->
    <div id="aperturar">
        <td><button class="btn btn-primary btn-sm "  (click)="solicitarApertura()">Solicitar apertura</button></td>
    </div>
</div>