<div class="m-3">
    <div>
        <span class="title-module">
            <i class="mdi mdi-progress-clock f-15" style="font-size: 22px;"></i>Programación de cursos
        </span>
        <hr />
    </div>
    <div style="margin-right: 80px; margin-left: 80px; margin-top: 50px;">

        <div class="text-center">
            <h4>Programación de cursos</h4>
            <span>Ciclo Febrero 2020</span>
            <div style="font-size: 14px;"><b>15/02/2020</b></div>
        </div>

        <div>
            <div id="descargar">
                <button class="btn-descargar">Descargar en PDF</button>
            </div>
        </div>

        <div id="container">
            <div class="table-responsive">
                <table class="table table-hover text-center table-matricular">
                    <thead class="thead-dark" style=" border: solid 1px #acacac;">
                        <!-- <table class="hitorial"> -->
                        <!-- <thead> -->
                        <tr class="head">
                            <th>Idioma</th>
                            <th>Nivel</th>
                            <th>Ciclo</th>
                            <th>Docente</th>
                            <th>Horario</th>
                            <th>Matriculados </th>
                        </tr>
                    </thead>

                    <tbody class="text-center">
                        <tr *ngFor=" let programacion of programacion ">
                            <td>{{programacion.nomIdioma}}</td>
                            <td>{{programacion.nomNivel}}</td>
                            <td>{{programacion.ciclo}}</td>
                            <td>{{programacion.docente}}</td>
                            <td>{{programacion.nomGrupoH}} <br> ({{programacion.hora}})</td>
                            <td><button class="btn-none "> {{programacion.matriculados}} </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="aperturar ">
    <td><button class="btn btn-primary btn-sm " (click)="solicitarApertura() ">Solicitar apertura</button>
    </td>
</div>