<div *ngIf="load" style="position: absolute; z-index: 1; width: 100%; height: 100%;" class="center-content">
    <img src="{{loading}}" style="width: 100px;">
</div>
<div class="background-login-center center-content display-h-none">
    <div class="background-login-white display-h-none display-w-none">
        <div class="row height-100 m-0">
            <div class="col-lg-5 col-md-6 col-sm-12 col-12 center-content">
                <div>
                    <app-form-login (emitter)="ngAfterContentInit($event)">

                    </app-form-login>
                    <app-section-buttons-responsive></app-section-buttons-responsive>
                </div>

            </div>
            <div class="col-lg-5 col-md-6 col-6 display-none-blue">
                <app-banner-login></app-banner-login>
            </div>
            <div class="col-lg-2 center-content display-none" style="margin-left: -35px;">
                <app-section-buttons></app-section-buttons>
            </div>
        </div>
    </div>
</div>