<div class="background-login-center center-content display-h-none">
    <div class="background-login-white display-h-none display-w-none">
        <div class="row height-100">
            <div class="col-lg-5 col-md-6 col-sm-12 col-12 center-content" style="margin-right: -25px;">
                <div>
                    <div>
                        <div class="text-center">
                            <img src="assets/logo/logo-completo.png" width="200" />
                            <br />
                            <span class="f-14 ml-5 mr-5">Sistema de Matrícula Online</span>
                        </div>
                        <br />
                        <br />
                        <div>
                            <label class="f-16"><i class="mdi mdi-account f-18 primary-color"></i>Usuario</label>
                            <input type="text" class="form-control form-control-md" />
                        </div>
                        <div class="mt-3">
                            <label class="f-16">
                                <i class="mdi mdi-key-variant f-18 primary-color"></i>
                                Contraseña</label>
                            <input type="text" class="form-control form-control-md" />
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-login btn-block">
                                Ingresar al sistema
                            </button>
                        </div>
                        <div class="text-center mt-1">
                            <button class="btn text-center btn-register" (click)="onIngresar()">
                                me olvidé la contraseña
                            </button>
                        </div>
                        <div class="text-center mt-3 display-show">
                            <button class="btn btn-register-s btn-block">
                                Registrarme
                            </button>
                           
                                Snack bar duration (seconds)
                                <input type="number" [(ngModel)]="durationInSeconds" matInput>
                             
                              
                              <button mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
                                Pizza party
                              </button>
                        </div>
                    </div>
                    <app-section-buttons-responsive></app-section-buttons-responsive>
                </div>

            </div>
            <div class="col-lg-5 col-md-6 col-6 display-none-blue">
                <app-banner-login></app-banner-login>
            </div>
            <div class="col-lg-2 center-content display-none" style="margin-left: -35px;">
                <app-section-buttons></app-section-buttons>
            </div>
        </div>
    </div>
</div>