<h1>Conceptos de pago - Centro de idiomas</h1>
<div id="container">
    <table>
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Importe</th>
                <th>Concepto</th>
            </tr>
        </thead>
        <tr>
            <td>Matrícula sanmarquino <br>(Estudiante de pregrado, docente o trabajador)</td>
            <td>S/.110.00</td>
            <td>039-323</td>
        </tr>
        <tr >
            <td>Matrícula público externo</td>
            <td>S/.150.00</td>
            <td>039-337</td>
        </tr>
        <tr >
            <td>Matrícula posgrado <br> (Maestristas y doctorados)</td>
            <td>S/.190.00</td>
            <td>039-337</td>
        </tr>
        <tr >
            <td>Matrícula de quechua <br>(Estudiante de pregrado, docente o trabajador san marquino)</td>
            <td>S/.90.00</td>
            <td>039-323</td>
        </tr>
        <tr >
            <td>Matrícula de quechua <br>(Público externo)</td>
            <td>S/.110.00</td>
            <td>039-323</td>
        </tr>
        <tr>
            <td>Matrícula de coreano</td>
            <td>S/.20.00</td>
            <td>039-008</td>
        </tr>
        <tr>
            <td>Matrícula público externo <br>(Sede San Juan de Lurigancho)</td>
            <td>S/.110.00</td>
            <td>039-323</td>
        </tr>
    </table>
</div>
