<div class="info-matricula">
    <div>
        <button class="btn-blue-d mb-2" (click)="goCicloAcademico()">
            <i class="mdi mdi-book-open-variant" style="font-size: 25px;"></i><br />
            Ciclo Académico
        </button>
        <button class="btn-blue-d mb-2" (click)="goConceptoPago()">
            <i class="mdi mdi-credit-card-outline" style="font-size: 25px;"></i><br />
            Conceptos de Pago
        </button>
        <button class="btn-blue-d" (click)="goMatriculaOnline()">
            <i class="mdi mdi-book-variant-multiple" style="font-size: 25px;"></i><br />
            Matrícula Online
        </button>
    </div>
</div>