
.btn-blue-d:hover{
    background-color: #da372c;
}

.btn-blue-d{
    font-size: 16px;
    width: 100%;
    border: 0px;
    background-color: #f44336;
    color: white;
    padding: 8px;
    font-weight: lighter;
}