<div class="section-feed-news">
    <div class="card-feed" style="color: black">
        <div class="card-header">
            <span>Centro de Idiomas</span>
        </div>
        <div class="section-new" style="text-align: left;">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="section-photo-new center-content mr-2">
                                <img src="favicon.ico" width="30" />
                            </div>
                        </td>
                        <td style=" font-weight: bolder; width: 100%;">
                            <div>
                                <span style="font-size: 16px;">Bienvenido al Centro de Idiomas</span>
                            </div>
                            <div style="margin-top: -5px;">
                                <span style="font-size: 13px;">Aquí encontrarás el idioma que estabas buscando.</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="mt-1 mr-2">
                                <div style="text-align: center;">
                                    <button class="btn-ver-idiomas">
                                        Ver idiomas
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
        </div>
        <div class="section-new" style="text-align: left;">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="section-photo-new center-content mr-2">
                                <img src="favicon.ico" width="30" />
                            </div>
                        </td>
                        <td style=" font-weight: bolder; width: 100%;">
                            <div>
                                <span style="font-size: 16px;">¡Descubre en qué nivel estás!</span>
                            </div>
                            <div style="margin-top: -5px;">
                                <span style="font-size: 13px;">Elige una de estas opciones</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="mt-1 mr-2">
                                <div>
                                    <button class="btn-examen-clasificacion">
                                        <i class="mdi mdi-file-document-box-check-outline"
                                            style="font-size: 35px;"></i><br />
                                        Examen de Clasificación
                                    </button>
                                </div>
                                <div>
                                    <button class="btn-examen-clasificacion">
                                        <i class="mdi mdi-file-document-box-plus-outline"
                                            style="font-size: 35px;"></i><br />
                                        Examen de Rezagados
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
        </div>
    </div>

</div>