<div *ngIf="load" class="center-content" style="height: 100% !important; width: 100% !important;">
    <img src="assets/loading/loading.gif" style="width: 100px;">
</div>
<div *ngIf="!load" class="simi-bg-header mt-5 pt-3" style=" display: flex; align-items: center; font-weight: lighter;">
    <span>
        <i class="mdi mdi-home mr-1 ml-2 f-15"></i>
        Periódo Académico
        <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>
        <span style="font-size: 15px;">
            Matrícula Online
        </span>
        <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>
        <span style="font-size: 15px;">
            Seleccionar Cursos
        </span>
    </span>
</div>
<mat-sidenav-container class="sidenav-container" *ngIf="!load" style=" height: 100% !important;">
    <mat-sidenav #snav [mode]="mobile.matches ? 'over' : 'side'" [fixedInViewport]="mobile.matches"
        style="background: #e9ebee; width: 280px;">
        <div class="section-matricula">
            <div>
                <span style="font-size: 14px;">
                    Filtrar por sedes
                </span>
                <hr class="mt-1" />
                <div class="section-filtro">
                    <mat-checkbox class="oink">Ciudad Universitaria</mat-checkbox><br />
                    <mat-checkbox class="oink">San Juan de Lurigancho</mat-checkbox>
                </div>
            </div>
            <div class="mt-4">
                <span style="font-size: 14px;">
                    Filtrar por Idioma
                </span>
                <hr class="mt-1" />
                <div class="section-filtro">
                    <mat-checkbox class="oink">Inglés</mat-checkbox><br />
                    <mat-checkbox class="oink">Francés</mat-checkbox><br />
                    <mat-checkbox class="oink">Portugués</mat-checkbox><br />
                    <mat-checkbox class="oink">Alemán</mat-checkbox><br />
                </div>
            </div>
            <div class="mt-4">
                <span style="font-size: 14px;">
                    Filtrar por Nivel
                </span>
                <hr class="mt-1" />
                <div class="section-filtro">
                    <mat-checkbox class="oink">Básico</mat-checkbox><br />
                    <mat-checkbox class="oink">Intermedio</mat-checkbox><br />
                    <mat-checkbox class="oink">Avanzado</mat-checkbox><br />
                </div>
            </div>
            <button class="btn-aplicar" (click)="snav.toggle()  ">
                Aplicar
            </button>
        </div>

    </mat-sidenav>
    <mat-sidenav-content style="background-color: #ededee;">
        <div>
            <div>
                <button (click)="snav.toggle()" class="btn-filter">
                    <i class="mdi mdi-chart-donut-variant"></i>
                </button>

            </div>
        </div>

        <div class="simi-card">
            <div class="text-center">
                <h3>Matrícula Online</h3>
                <hr class="mt-2"/>
                <h5>Seleccionar Cursos de Idiomas</h5>
                <span style="font-size: 18px;">Ciclo Febrero 2020</span>
                <div style="font-size: 18px;"><b>05/02/2020</b></div>
            </div>

            <div *ngIf="programaciones?.length === 0" class="mt-2">
                <h6 style="color:#c60869;">
                    No hay cursos habilitados para usted en estos momentos.
                </h6>
                <button class="btn simi-btn-silver" (click)="cancelarMatriculaOnline()">
                    <i class="mdi mdi-close-circle"></i>Volver
                </button>
            </div>

            <div *ngIf="programaciones?.length !== 0">
                <div>
                    <div style="float: left;">
                        <label class="ml-2 ml-3">
                            <span>Máximo de Cursos:</span>
                            <label class="ml-2 simi-section-label-blue"><b>{{maxCursos}}</b> </label>
                        </label>
                        <label class="ml-3 ml-3">
                            <span>Cursos seleccionados:</span>
                            <label class="ml-2 simi-section-label-rose"><b>{{cursosSeleccionados}}</b></label>
                        </label>

                    </div>
                    <div style="float: right;">
                        <button class="btn simi-btn-silver" style="width: 160px;" (click)="cancelarMatriculaOnline()">
                            <i class="mdi mdi-close-circle"></i>Cancelar
                        </button>
                        <button class="btn simi-btn-primary" style="width: 160px;" (click)="siguiente()">
                            Siguiente <i class="mdi mdi-skip-next"></i>
                        </button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover text-center table-matricular">
                        <thead class="thead-dark" style=" border: solid 1px #acacac;">
                            <tr class="head">
                                <th>Idioma</th>
                                <th>Nivel</th>
                                <th>Ciclo</th>
                                <th>Docente</th>
                                <th>Horario</th>
                                <th>Matriculados </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody class="text-center">
                            <tr *ngFor=" let programacion of programaciones; let i = index ">
                                <td>{{programacion.nomIdioma}}</td>
                                <td>{{programacion.nomNivel}}</td>
                                <td>{{programacion.ciclo}}</td>
                                <td>{{programacion.docente}}</td>
                                <td>{{programacion.nomGrupoH}} <br> ({{programacion.hora}})</td>
                                <td><button class="btn-none "> {{programacion.matriculados}} </button></td>
                                <td>
                                    <mat-checkbox [disabled]="seleccionado[i]" 
                                    (change)="seleccionarCurso($event, i, programacion)"></mat-checkbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>