.btn-item{
    background-color: #096ac6; color: white;
    margin-bottom: 2px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    
  }

  .subitem{
    font-size: 14px;
  }

  .btn-item:hover{
    background-color: #1f59ae;
  }
  .ele {
  animation: 0.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}