<!-- <div class="mx-5 my-3"> -->

    <div class="header-user-list">
        <button class="btn-nuevo ml-1 mr-1" (click)="nuevoIdioma()">
            <i class="mdi mdi-plus-box-multiple-outline f-16"></i> Nuevo Idioma
        </button>
    </div>
    <div class="w-75 mt-3 table-responsive" style="margin: auto;">
        <table class="table table-hover table-bordered">
            <!-- thead-primary -->
            <thead class="header-table ">
                <tr>
                    <th style="width: 100px;" class="text-center">Accion</th>

                    <th>
                        <div class="center-head">Nombre</div>
                    </th>
                    <th>
                        <div class="center-head">Descripción</div>
                    </th>

                </tr>
            </thead>
            <tbody class="header-body">
                <tr *ngFor= "let idioma of idiomas">
                    <td >
                        <div class="row">
                                <button class="btn-edit mt-1 ml-3 "(click)="editarIdioma(mesadto.cmesa)">
                                        <i class="mdi mdi-border-color" style="font-size: 20px; display: inline-block !important;"></i>
                                    </button>
                                   
                                    <button type="button" class="btn-edit mt-1 ml-2" (click)="eliminarIdioma(mesadto.cmesa)">
                                            <i class="mdi mdi-delete  " style="font-size: 20px; display: inline-block !important;"></i> 
                                    </button>
    
                        </div>
                    </td>
                   
                    <td>
                        <div class="center-body">{{idioma.nomIdioma}} </div>
                     </td>
                    <td>
                            <div class="center-body">{{idioma.descIdioma}} </div>
                    </td>
                    <!-- <td>
                        <div class="center-body" *ngIf="mesadto.pmcapacidad===1">{{mesadto.pmcapacidad}} persona</div>
                        <div class="center-body" *ngIf="mesadto.pmcapacidad>1">{{mesadto.pmcapacidad}} personas</div>
                    </td> -->
                </tr>
            </tbody>

        </table>
    </div>

<!-- </div> -->