<div *ngIf="load" class="center-content" style="height: 100% !important; width: 100% !important;">
    <img src="assets/loading/loading.gif" style="width: 100px;">
</div>
<div *ngIf="!load" class="simi-bg-header mt-5 pt-3" style=" display: flex; align-items: center; font-weight: lighter;">
    <span>
        <i class="mdi mdi-home mr-1 ml-2 f-15"></i>
        Periódo Académico
        <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>
        <span style="font-size: 15px;">
            Matrícula Online
        </span>
        <i class="mdi mdi-chevron-right" style="font-size: 20px;"></i>
        <span style="font-size: 15px;">
            Seleccionar Cursos
        </span>
    </span>
</div>
<div class="simi-card" *ngIf="!load">
    <div class="text-center">
        <h3>Matrícula Online</h3>
        <h5>Verificar Matrícula</h5>
        <span style="font-size: 18px;">Ciclo Febrero 2020</span>
        <div style="font-size: 18px;"><b>05/02/2020</b></div>
    </div>

    <div>
        <div>
            <div style="float: left;">
                <label class="ml-2 ml-3">
                    <span>Cursos seleccionados:</span>
                    <label class="ml-2 simi-section-label-blue"><b>{{programacionesSeleccionadas.length}}</b> </label>
                </label>

            </div>
            <div style="float: right;">
                <button class="btn simi-btn-silver" style="width: 160px;" (click)="atras()">
                    <i class="mdi mdi-close-circle"></i>Cancelar
                </button>
                <button class="btn simi-btn-primary" style="width: 160px;" (click)="realizarMatricula()">
                    Finalizar Matrícula <i class="mdi mdi-skip-next"></i>
                </button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover text-center table-matricular">
                <thead style=" border: solid 1px #acacac;" class="simi-bg-primary">
                    <tr class="head">
                        <th>Idioma</th>
                        <th>Nivel</th>
                        <th>Ciclo</th>
                        <th>Docente</th>
                        <th>Horario</th>
                        <th>Matriculados </th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    <tr *ngFor=" let programacion of programacionesSeleccionadas; let i = index ">
                        <td>{{programacion.nomIdioma}}</td>
                        <td>{{programacion.nomNivel}}</td>
                        <td>{{programacion.ciclo}}</td>
                        <td>{{programacion.docente}}</td>
                        <td>{{programacion.nomGrupoH}} <br> ({{programacion.hora}})</td>
                        <td><button class="btn simi-btn-silver"> {{programacion.matriculados}} </button></td>
                    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>