<div class="header-user-list">
    <button class="btn-nuevo ml-1 mr-1" (click)="nuevoAlumno()">
        <i class="mdi mdi-plus-box-multiple-outline f-16"></i> Nuevo Alumno
    </button>
</div>
<div class="mt-3 table-responsive">
    <table class="table table-hover">
        <thead class="header-table">
            <tr>
                <td style="width: 100px;"></td>
                
                <td>
                    <div class="center-head">Nombre</div>
                </td>
                <td>
                    <div class="center-head">Apellido Paterno</div>
                </td>
                <td>
                    <div class="center-head">Apellido Materno</div>
                </td>
                <td>
                    <div class="center-head">Email</div>
                </td>
            </tr>
        </thead>
        <tbody class="header-body">
                <!-- <tr *ngFor= "let mesadto of mesasdto"> --><tr >
                    <td >
                        <div class="row">
                                <!-- <button class="btn-edit mt-1 ml-3 "(click)="editarAlumno(mesadto.cmesa)"> -->
                                    <button class="btn-edit mt-1 ml-3 "(click)="editarAlumno()">
                                        <i class="mdi mdi-border-color" style="font-size: 20px; display: inline-block !important;"></i>
                                    </button>
                                   
                                    <!-- <button type="button" class="btn-edit mt-1 ml-2" (click)="eliminarMesa(mesadto.cmesa)"> -->
                                   <button type="button" class="btn-edit mt-1 ml-2" (click)="eliminarAlumno()">
    
                                        <i class="mdi mdi-delete  " style="font-size: 20px; display: inline-block !important;"></i> 
                                    </button>
    
                        </div>
                    </td>
                   
                    <td>
                        <div class="center-body"> Nataly Grace
                            <!-- {{mesadto.nombremesa}} -->
                         </div>
                     </td>
                    <td>
                            <div class="center-body">
                                Vasquez
                                <!-- {{mesadto.emdescripcion}}  -->
                            </div>
                    </td>
                    <td>
                            <div class="center-body"> Saenz
                                <!-- {{mesadto.pmnombre}}  -->
                            </div>
                    </td>
                    <td>
                        <div class="center-body"> nataly.vasquez9718@gmail.com
                            <!-- {{mesadto.pmnombre}}  -->
                        </div>
                        <!-- <div class="center-body" *ngIf="mesadto.pmcapacidad===1">{{mesadto.pmcapacidad}} persona</div>
                        <div class="center-body" *ngIf="mesadto.pmcapacidad>1">{{mesadto.pmcapacidad}} personas</div> -->
                    </td>
                </tr>
            </tbody>
    </table>
</div>