#container {
    width: 800px;
    margin: 150px auto;
    margin-top: 40px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

button {
    background: #00CC99;
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
    float: right;
}

table {
    width: 100%;
    text-align: center;
    background-color: white
}

th {
    padding: 8px;
    border: rgb(148, 148, 148) solid 1px;
}

.idioma {
    font-size: 20px;
    /* background: #99CCCC; */
    /* border-radius: 10px; */
}

td {
    /* border-radius: 10px; */
    padding: 8px;
    border: rgb(148, 148, 148) solid 1px;
}

thead {
    background-color: #096AC6;
    color: white;
}

.head:hover {
    background-color: #333333;
}

td:hover,
.idioma:hover {
    background: rgb(238, 236, 236);
}